[2018-03-07 17:34] ggrieco-tob opened #7 "Echidna seems to fails a test that always returns true"
I tried to test the following contract:

[code]

increasing the amount of tests:

[code]

But echidna fails when it runs echidna_alwaystrue:

[code]

(the shrinking seems to take forever, so I don't know what it actually finds)

[2018-03-08 14:35] japesinator opened #8 "Figure out what versions of solc are supported"
apparently 0.4.21 is not

[2018-03-08 14:48] skirmantasjanuskas commented on #8
works fine here

[2018-03-08 14:51] japesinator commented on #8
huh, I just got a complaint it didn't. once I'm back in NYC, I'll just try all of them starting 6 months ago and actually make a record of how it goes

[2018-03-08 15:22] yoavw opened #9 "Echidna command-line fails on Debian"
It fails with the following error:

`
# ~/.local/bin/echidna-test solidity/cli.sol
echidna-test: <stdout>: commitBuffer: invalid argument (invalid character)
`
`
# uname -a
Linux core 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07) x86_64 GNU/Linux
`

(we talked about this at the workshop at ETHCC)

[2018-03-08 15:23] makoto opened #10 "echidna fails to run outside the repository folder"
Tried the example solution @japesinator suggested during his ETHCC workshop but does not seem working on the latest solc compiler.

[code]

[code]

[2018-03-08 15:36] ggrieco-tob commented on #10
I cannot reproduce exactly your error:

[code]

[2018-03-08 15:38] ggrieco-tob commented on #8
works fine in Ubuntu Ubuntu 16.04.3 LTS

[2018-03-09 21:59] agroce opened #12 "OS X Install instructions for readline need more details"
For me (and I suspect other people) the real solution is to

[code]

(readline is pretty likely to cause some failures during stack otherwise, and the suggested fix is often not quite what people need; there's probably a brew equivalent but I couldn't find it)

[2018-03-10 14:20] snd commented on #12
i also had trouble with the instructions in the readme.

managed to install it with brew like so:

[code]

[2018-03-10 16:41] snd commented on #10
i get the same error with solc 0.4.18

[code]

OSX 10.11.6

built from https://github.com/trailofbits/echidna/commit/159b595172e85e67b90ba374c253a40e32c1f568

installed as described there: https://github.com/trailofbits/echidna/issues/12#issuecomment-372033419

[2018-03-10 16:45] snd commented on #10
the above was in a directory different from the echidna directory.

when i copy the contract into the echidna directory (where i cloned and installed with stack) it works:

[code]

it should work in any directory

[2018-03-10 19:46] snd opened #14 "confused why specific test fails"
i have the following shrunk version of a contract i'm working on:

[code]

testing it fails:

[code]

i'm confused why this fails at all and especially why it fails with `Call sequence: totalSupply();`.

it would be great if you could look into that!

using solc version 0.4.18

[2018-03-10 20:34] snd commented on #14
if i the invariant

[code]
to the above example, then it always fails with

[code]

as well

[2018-03-10 20:42] snd commented on #14
same happens with solc `Version: 0.4.21+commit.dfe3193c.Darwin.appleclang`

[2018-03-10 21:15] ggrieco-tob commented on #14
I suspect HEVM fails to execute this contract (and therefore, the property always fails) because it needs some values to be initialized: `_maxSupply` and `_price`. If you modify your Example initialization method to take no parameters, like this:

[code]

then echidna will run the tests without any issues.

[2018-03-10 21:36] snd commented on #14
i see. thanks for the quick response

**would be useful if echidna would also fuzz constructor arguments.**
having to modify the constructor is not ideal imho.

we should document this. it's easy to run into. also a better error message would be helpful.

[2018-03-12 10:28] makoto commented on #10
Yeah, I created the test sol file on a brand new project I created using truffle.

[2018-03-12 11:58] snd opened #15 "make echidna-test work without requiring custom constructor"
it seems that `echidna-test` fails with an unhelpful error message if storage vars are not initialized explicitely in a constructor without arguments.

make echidna fuzz constructor arguments (if it doesn't already) and call the constructor so echidna can be used without having to write a special constructor for the contract under test.

see:

https://github.com/trailofbits/echidna/issues/14#issue

[2018-03-12 11:59] snd commented on #14
follow up: https://github.com/trailofbits/echidna/issues/15

[2018-03-12 11:59] #14 closed

[2018-03-12 12:03] snd opened #16 "test fails with seemingly unrelated error"
confused why this fails:

[code]

contract (`example.sol`):

[code]

context:

`echidna-test` built from: https://github.com/trailofbits/echidna/commit/159b595172e85e67b90ba374c253a40e32c1f568

[code]

[2018-03-12 12:23] ggrieco-tob commented on #16
[code]

This test is failing at the initialization, so it seems to be working as expected. Any trivial sequence of transactions (e.g name()) will fail echidna_maxSupplyAlwaysGreaterZero.

[2018-03-12 12:27] snd opened #17 "add notice if test failed at initialization already"
makes it easier to pinpoint reason for failure

[2018-03-12 12:27] snd commented on #16
right. my bad. follow up: #17

[2018-03-12 12:27] #16 closed

[2018-03-12 12:35] snd commented on #17
i'll look into this. would love to contribute and it seems like a good starting point.

thanks a lot for `echidna` : ) it's highly needed, already useful and i'm sure it will become immensely useful!

[2018-03-12 12:44] ggrieco-tob commented on #17
Yes, this is indeed very useful.

One possible idea is to report the type of "error" you have in the VM once echidna finishes the execution. For instance, in the [Revert.hs example](https://github.com/trailofbits/echidna/blob/master/examples/revert/Revert.hs), echidna only fails when it founds a revert opcode. It could be useful to report out-of-gass exceptions as well. The list of EVM errors is a

[2018-03-12 13:08] snd commented on #17
rather than `│ Call sequence: name();` it could say ` | Constructor()` which would prevent users from assuming the problem is in `name()` and make them look into `Constructor()` instead

[2018-03-12 13:35] snd opened #18 "possibly support arguments in tests"
just some thoughts.

i tried

[code]

and it aborted with `Test "echidna_balanceAlwaysLowerEqualTotalSupply" has arguments, aborting`

i understand why.

it could be interesting to support this. it would open up a whole new set of properties that
can be tested with echidna. maybe this is possible by using echidna as a library. i've yet to look into that.

i imagine it could fuzz (argument) address

[2018-03-12 13:36] snd opened #19 "gitter or riot channel"
a gitter or riot channel for discussion around echidna would be useful

[2018-03-12 13:37] ggrieco-tob commented on #19
We are using #ethereum in [Empire Hacking](https://empirehacking.slack.com). I should update the README.

[2018-03-12 13:53] snd commented on #19
i joined empirehacking.slack.com but the #ethereum channel doesn't seem to be public. could you invite me? i'm `max`. probably makes sense to make #ethereum public so it's easier for others to join

[2018-03-12 13:53] dguido commented on #19
It's public and you appear to already be in the channel.

[2018-03-12 13:53] #19 closed

[2018-03-12 13:56] snd commented on #19
right. was confused by slack there for a second

[2018-03-12 13:58] snd commented on #19
@dguido could you leave this open as a reminder to add it to the readme?

[2018-03-12 14:06] dguido commented on #19
https://github.com/trailofbits/echidna/commit/0debf87edd23dc2488683584324a66bb808a1b32

[2018-03-12 23:07] lazzarello opened #21 "Build fails in Dockerfile"
#20 adds a Dockerfile which I built interactively with success. When I build an image through `docker build` with the same code, the following error is thrown

[code]

The logs for megaparsec

[code]

[2018-03-13 19:10] #7 closed

[2018-03-13 19:13] #12 closed

[2018-03-13 19:22] japesinator commented on #18
It's definitely possible using echidna as a library, you'd just wanna write something like `checkETest` but with some argument logic. You could either hardcode your addresses and check them exhaustively and keep the type, or make something of type `MonadGen m => VM -> m Bool` and write something like `eCommand` but with a more constrained `m` so you can actually fuzz the addresses. I think the sim

[2018-03-13 19:22] #18 closed

[2018-03-13 19:27] japesinator commented on #21
Thanks for all the work dockerizing echidna! Would you mind posting the exact commands to reproduce this? I'm not too familiar with docker but would like to help get it resolved

[2018-03-13 19:28] japesinator commented on #17
This makes a ton of sense! I'm going to look into implementing it

[2018-03-13 19:35] japesinator commented on #9
This looks like some kind of a locale issue that's causing echidna to choke when trying to print UTF-8. Can you try with the below code for `Main.hs`?

[code]

[2018-03-13 19:37] japesinator commented on #15
This makes a lot of sense, lemme comb through the hevm code a bit and see what I can do about this. Thanks for all the good issues!

[2018-03-13 20:48] yoavw commented on #9
Unfortunately I no longer have the machine where it occurred.  I'll try to reproduce it on another host and let you know.

[2018-03-13 22:04] maurelian opened #22 "statemachine example fails"
This is using the latest commit on master: 161258465a4782d3778e91be4ab43377e930a9a9

With

[code]

When I run the statemachine example:

[code]

[2018-03-13 22:11] ggrieco-tob commented on #22
To run the state machine example, you just need to compile echidna first:
`$ stack install`
and then you just execute:
`$ state-example-exe`

(but yes, we need better documentation)

[2018-03-13 22:11] #22 closed

[2018-03-14 14:24] snd opened #23 "test specific contract in file"
right now `echidna-test` loads the first contract in a file and tests it.

this is inflexible and doesn't work well with `import`s as they appear to echidna as the first contracts in a file.

**modify `echidna-test` and `loadSolidity` to take `contract-name` as optional second argument**

this would open up a useful pattern where one writes a contract as usual without any echidna related modificat

[2018-03-14 14:38] japesinator commented on #23
this is absolutely a better design decision than what we do now, I'm going to take a look at getting some kind of progress on multi-contract stuff made this weekend

[2018-03-14 14:47] snd commented on #23
going to dig into the echidna source this weekend. wrote a bunch of haskell some years ago and it's still one of my favorite languages. i hope to contribute soon

[2018-03-14 14:50] japesinator commented on #23
let me know if you have any questions! I'm this same nick on the [empire hacking slack](http://empireslacking.herokuapp.com/)

[2018-03-14 20:33] snd commented on #23
got this working. will do a PR tomorrow

[2018-03-14 20:42] japesinator commented on #23
awesome!

[2018-03-14 22:10] lazzarello commented on #21
`docker build -t echidna .` will build an image using all commands in the `Dockerfile`

[2018-03-16 16:34] #23 closed

[2018-03-19 13:49] snd opened #26 "fail on selfdestruct"
i tried fuzzing a contract that anyone can "kill".
echidna didn't fail.
not sure if this is by design. i think it would make sense to have echidna fail if it manages to  `selfdestruct` a contract. (maybe make this the default but add an option to allow it.)

contract `self_destruct.sol`:

[code]

run:

[code]

commit: 83b8fd5e8f57c825c98370efa802922da412dada

[2018-03-20 14:23] japesinator commented on #26
hmmm, it definitely shouldn't do that! I'll take a look this week

[2018-03-20 14:53] hiqua commented on #9
No problem for me on Debian Stretch.

[2018-03-20 20:05] japesinator commented on #9
I'm gonna close for now as I'm unable to reproduce. If this happens again, try the code I linked and lmk how it works, I'll modify the actual codebase based on that.

[2018-03-20 20:05] #9 closed

[2018-03-21 07:59] a00a00 commented on #16
And what about: Warning: Invoking events without "emit" prefix is deprecated
https://github.com/ethereum/solidity/releases
"General: Support and recommend using **emit EventName()**; to call events explicitly."

[2018-03-21 11:36] snd commented on #16
that‘s an unrelated warning from solc, not from echidna. easily resolved by
adding emit before the event.

----------
On Wed, Mar 21, 2018 at 8:59 AM, a00a00 <notifications@github.com> wrote:

And what about: Warning: Invoking events without "emit" prefix is deprecated
https://github.com/ethereum/solidity/releases
"General: Support and recommend using *emit EventName()*; to call events
explicitly.

[2018-03-27 14:38] ggrieco-tob commented on #10
I can confirm that echidna fails to run properly outside the repository folder. Sorry for the long delay. It seems to be [a known bug in hedgehog](https://github.com/hedgehogqa/haskell-hedgehog/issues/105).

[2018-03-27 15:35] ggrieco-tob commented on #10
Please test this possible fix: https://github.com/trailofbits/echidna/pull/29

[2018-03-28 11:12] ggrieco-tob commented on #10
Should be fixed in 75afb17.

[2018-03-28 11:12] #10 closed

[2018-03-28 20:49] ggrieco-tob opened #30 "Allow to specify which user calls each method in a contract"
Some smart contracts define an address as "owner" to perform certain "privileged" operations. For instance:

[code]

Unfortunately, Echidna does not allow to specify the use of different users (contract owner, user, attacker) when the transactions are executed. It could be nice to have a command line option for that.

[2018-03-29 23:41] japesinator commented on #30
This is pretty easy to fix when API scripting, just write some `MonadGen m => m Address` that picks from a list of addresses you care about, then add `state . caller .= a` where `a` is the result of that generator to your `Action`s.

Totally open to adding it to the CLI, and it shouldn't be all that hard, but unsure what API to use. Thoughts? If someone submits an RFP or whatever, I'll try to get

[2018-03-30 19:14] ggrieco-tob commented on #30
So one possible approach to start is to use a value generator that produces the address to  use as caller in the EVM transaction. For instance, the signature of `execCall` could be:

[code]

What do you think?

[2018-04-19 21:54] lazzarello commented on #21
An update to this issue. I've tried again with a different Dockerfile and received a similar error. Docker on macOS is constrained to 2GB of RAM. I'll see if raising this limit is possible.

[code]

[2018-04-19 22:16] lazzarello commented on #21
Indeed, it appears the Haskell build process requires greater than 2GB of resident memory. I upped the max for the Docker VM to 4GB and the build succeeded.

Closing.

[2018-04-19 22:16] #21 closed

[2018-04-20 21:09] lazzarello commented on #9
I can reproduce this. It's a quick fix regarding locales. I'll put together a PR for the Dockerfile and some doc updates, since it isn't a problem with the application code.

[2018-04-27 00:51] joeykrug opened #35 "Check Counter readme failure - openFile Exec.hs does not exist"
When running the test example in the readme I get:

[code]

[2018-04-27 03:47] joeykrug opened #36 "Solidity issue with compiling"
[code]

Solidity doesn't allow files in other directories within a source folder by default:

Echidna should allow passing flags to the solidity compiler so that it can be used for analysis of more complicated contracts. For instance, to resolve this issue it'd be great if I could do something like:

`echidna-test path/to/File.sol --allow-paths {path name}`

[2018-04-28 22:00] dbogs425 commented on #35
What commit is your install of echidna @joeykrug , this looks a lot like issue #10

[2018-04-28 22:25] joeykrug commented on #35
https://github.com/trailofbits/echidna/commit/e1780aec68f315d51c03e411aba791f402f0ac61

[2018-04-29 18:27] japesinator commented on #36
@joeykrug, thanks a bunch for opening these bounties! If anyone's working on this and could use dev help, please feel free to ping me with whatever I can do

[2018-05-01 00:34] joeykrug commented on #35
It works!

[2018-05-01 00:35] ggrieco-tob commented on #35
Thanks. I will work in a better fix tomorrow.

[2018-05-01 04:41] ConnorChristie commented on #35
@ggrieco-tob Make sure to claim the bounty to get $50 for your work! https://gitcoin.co/issue/trailofbits/echidna/35/324

[2018-05-01 19:54] ggrieco-tob opened #40 "Inconsistent test results in a simple contract"
In this simple contract:

[code]
the echidna_true test cannot fail. However the last revision of Echidna reports a failed test:

[code]

Maybe this is an issue of HEVM?

[2018-05-03 11:20] cryptomental opened #43 "Feature request: echidna tests implementation outside of the contract."
Hi, I would like to execute Echidna tests without modifying original contracts, i.e. something along these lines:

Contract under test:

[code]

and C_echidna.sol with echidna tests:

[code]

The idea is NOT to modify the contracts under test.

Obviously the problem are private variables and functions as I have just experimented:

[code]

Perhaps there would be a way to support this by having on-t

[2018-05-04 21:02] ggrieco-tob commented on #40
Fixed in the last merge.

[2018-05-04 21:02] #40 closed

[2018-05-07 16:08] japesinator commented on #35
Looks like we wrapped this up, closing

[2018-05-07 16:08] #35 closed

[2018-05-07 19:20] cryptomental commented on #43
Hi @japesinator ! thanks for the reply. Inheritance did not work work me, as I wanted to develop tests based on private properties. See code in my comment above. The private properties are not accessible from the child contract, as confirmed here http://solidity.readthedocs.io/en/v0.4.23/contracts.html#visibility-and-getters . The main use case for me is that I would like to take any third-party S

[2018-05-07 20:12] japesinator commented on #43
I think that if what you want is really tests that reference private APIs without being in the same contract as those APIs are defined, you'd need a Solidity preprocessor of some sort (or a modified solc), and I can't say I'm super enthused about adding that kind of functionality to Echidna (seems a bit out of scope).

If you can think of a way to add this functionality without having to significa

[2018-05-08 15:27] vs77bb commented on #35
Hi @ggrieco-tob would you mind [submitting your work on Gitcoin](https://gitcoin.co/issue/trailofbits/echidna/35/324) to receive the bounty here? If you need a bit of ETH to get going, check out the [Gitcoin Faucet](gitcoin.co/faucet) and we'll send some your way.

[2018-05-09 08:19] cryptomental commented on #43
Thx @japesinator this is what I also came up with. A solidity preprocessor would likely do the job. I will close the ticket and will likely be back once I will be into implementing a solution.

[2018-05-09 08:19] #43 closed

[2018-05-10 12:00] ggrieco-tob opened #45 "Echidna does not detect if the contract loops"
If the contract to test is buggy and runs forever (or a very long time), echidna does not detect this issue. For instance:

[code]

The solution is to limit the amount of gas in the contract to use and report a failure if it runs out of gas.

[2018-05-11 17:50] ggrieco-tob opened #46 "Inconsistent test results in a simple contract"
In this simple contract:

[code]
the echidna_true test cannot fail. However the last revision of Echidna reports a failed test when **it runs more than one epoch**. For instance:

[code]

[2018-05-11 21:55] ggrieco-tob opened #47 "Echidna cannot deal with values generated during runtime"
Echidna cannot find a failed test case in this type of contracts:

[code]

One possible workaround is to hook the keccak256 EVM instruction in HEVM and collect a list of possible hashes computed by a contract to replay them. Another possibility is ask the user to define a special function to "generate" values given a seed from solidity:

[code]

and then use echidna to run these value generators i

[2018-05-15 17:28] thumphries commented on #10
This was also fixed upstream in Hedgehog recently, sorry about that! Is part of the 0.6 release. https://github.com/hedgehogqa/haskell-hedgehog/pull/184

[2018-05-18 22:06] ggrieco-tob opened #51 "Inconsistent test results in a simple contract (2)"
In this simple contract:

[code]
the echidna_true test cannot fail and Echida works as expected. However it reports a failed test **when you uncomment the add() function**. For instance:

[code]

[2018-05-24 17:08] blperez01 commented on #46
Tried @japesinator's suggestion of using `Alternative` in `eCommandCoverage`:

[code]
but still got the same error above. Exploring other potential fixes.

[2018-05-24 18:15] blperez01 commented on #46
Update: this is actually an issue with `changeBS` in ABI.hs. Currently fixing.

[2018-05-24 19:00] blperez01 commented on #51
Weird aspect of this bug, the following function fails:
[code]
But switching the order of the push and call to `f()` works
[code]

[2018-05-25 17:44] #46 closed

[2018-05-26 08:38] weberV commented on #36
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 100.0 DAI (100.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/trailofbits/echidna/36/325).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='ht

[2018-05-29 17:27] ggrieco-tob opened #56 "Download and re-use ghc with stack will speedup the CI test"
Right now, ghc is downloaded each time using apt-get: https://travis-ci.org/trailofbits/echidna/jobs/385309324#L460-L473

Instead, it will be nice to download and re-use ghc with stack to speedup the CI tests.

[2018-06-07 00:20] rbharath opened #60 "echidna_* Functions in separate solidity file"
I'm trying to figure out how to use Echidna to fuzz test some TCR contracts. For example,

https://github.com/computablelabs/computable/blob/master/contracts/Registry.sol

I'd prefer not to add on `echidna_*` functions into these contracts since that would make these contracts different from the canonical TCR contracts. Would there be a way I could make a separate file, say `echidna_registry.sol`

[2018-06-07 18:05] japesinator commented on #60
Usually what I do there is have a test contract inherit from Registry, can that work for your case?

[2018-06-07 18:54] rbharath commented on #60
Will give this a try and report back here.

[2018-06-11 23:16] albrow opened #61 "Fuzzing doesn't sufficiently cover different addresses for a transfer"
Consider the following simplified token smart contract:

[code]

I would expect `echidna_totalCannotChange` to fail after a trivial call sequence (calling `transfer` once with any arbitrary values). However, to my surprise, when I run `echidna-test` it passes.

If I comment out the line `if (balances[msg.sender] < amount) return false;` then the test fails as expected. What I can gather from this

[2018-06-11 23:28] ggrieco-tob commented on #61
For fuzzing with addresses as inputs, consider using the improved-addr-gen branch while we think how to integrate this feature into master.

[2018-06-13 21:57] dwhjames opened #62 "Events for final call sequence"
It would be great if, after the shrinking phase has completed, the events emitted to the log are output along with the minimized call sequence.

One can obviously replay the execution given the call sequence, but having the logs would likely assist in arriving at an understanding of the failure more quickly.

[2018-06-13 22:10] dwhjames opened #63 "Self describing test failures"
Consider the following snippet:

[code]

When the test fails, we get the failing call sequence and the knowledge that `state != 1`. We need to replay the calls to determine what `state` actually is.

However, if Echidna recognized a special function, say `echidna_failure_log`, and was able to print out the event log (_cf._ Issue https://github.com/trailofbits/echidna/issues/62) then test failure m

[2018-06-13 22:38] dwhjames opened #64 "Integration with Remix for debugging"
Remix has a feature for loading a ‘scenario’ file (json) that describes a sequence of transactions.

https://remix.readthedocs.io/en/latest/run_tab.html#using-the-recorder

It would be great if Echidna was able to export failing call sequences so that they could be replayed and debugged within Remix.

[2018-06-14 14:32] dwhjames opened #65 "Dump EVM state on test failures"
Related to issue https://github.com/trailofbits/echidna/issues/63

One of the files that Manticore outputs for each test case that it generates is a `.summary` file that lists: addresses, balances, code and storage for contracts, and hashes for known input.

It would be great if Echidna could dump its EVM state on test failures, showing similar output to Manticore.

[2018-06-19 18:37] ggrieco-tob commented on #51
A simplified version of this example:

[code]

[2018-06-19 18:51] ggrieco-tob commented on #51
Using the last release of hevm (available in branch updated-hevm) solves this issue!

[2018-06-21 16:40] blperez01 opened #66 "Have sensible way of managing `sender` and `owner`"
Currently Echidna has no canonical way of establishing the sender of a test or the owner of the contract being tested.

[2018-06-22 19:23] blperez01 commented on #66
Under development in: https://github.com/trailofbits/echidna/tree/dev-evm-config

[2018-07-09 14:34] japesinator commented on #60
Did this work for you?

[2018-07-10 15:45] japesinator opened #72 "Echidna should support message value"
As in #31, but with the #70 style config rather than explicit function args

[2018-07-10 15:49] ggrieco-tob commented on #45
It is possible to limit the gas available.

[2018-07-10 15:49] #45 closed

[2018-07-13 05:56] rbharath commented on #60
We haven't had a chance to implement this yet. But have opened an issue https://github.com/computablelabs/computable/issues/70 to coordinate.

[2018-07-17 21:19] japesinator commented on #66
We fixed this!

[2018-07-17 21:19] #66 closed

[2018-07-17 21:19] japesinator commented on #61
Duplicate of #66

[2018-07-17 21:19] #61 closed

[2018-07-17 21:20] japesinator commented on #60
Closing unless it becomes an issue w/ the strategy described above

[2018-07-17 21:20] #60 closed

[2018-07-18 14:08] japesinator commented on #8
I've never actually had a version of solc fail IRL, so closing until this becomes an issue for someone

[2018-07-18 14:08] #8 closed

[2018-07-18 19:25] james9909 opened #84 "Perprop config parsing"
When perprop parses a config for function names, it doesn't separate the name from the rest of the signature. This results in echidna trying to run a function named (for example) "test()" instead of "test".

[2018-07-18 19:29] james9909 opened #85 "testLimit property"
The `testLimit` property for perprop should represent the number of transactions run before checking a property, not the number of tests echidna runs for that property.

[2018-07-23 18:11] ggrieco-tob opened #94 "Gas usage tester leaks a lot of memory"
If you run the gas usage tester (#86) with this simple solidity contract:

[code]

It will cause a major memory leak. Be careful if you try to reproduce this issue, since it can produce a large amount of swapping and crash other programs (e.g. internet browsers)

[2018-07-23 19:13] #85 closed

[2018-07-27 19:10] ggrieco-tob commented on #84
I believe #89 is not solving this issue. If we have a simple contract:

[code]
and a minimal config file:

[code]
perprop-exe won't work as expected:

[code]

[2018-07-30 11:34] ggrieco-tob commented on #30
This is already implemented in echidna and perprop.

[2018-07-30 11:34] #30 closed

[2018-07-30 14:41] japesinator opened #95 "README examples are outdated and wrong"
Since the big config refactor, our examples in the README are pretty incorrect. We should fix those. Can we get them in CI?

[2018-07-30 14:42] japesinator opened #96 "Add convenience functions that don't execute in a reader"
For the most commonly used bits of the echidna API, we should provide for each `f`, `f' = runReaderT f defaultConfig` and document the existence of these new functions

[2018-07-30 18:42] blperez01 commented on #84
Would it be infeasible to just have users write `test` in the yaml instead of the whole function? Currently `Solidity.hs` creates a list of `(Name, [Inputs])` so a bit fancier parsing would be required if the config file uses the full function name and signature.

[2018-07-30 19:47] #84 closed

[2018-07-30 20:04] blperez01 commented on #94
Interestingly, this test takes a _very_ long time to run on `echidna-test` even though it doesn't cause a memory leak there

[2018-07-30 20:38] ggrieco-tob opened #97 "When there is no methods to execute, any test will fail"
If a contract does not define any (public) method to execute, like this one:

[code]
then echidna will fail to execute the test:

[code]

It is better to warn the user about this issue and abort the execution.

[2018-07-31 16:08] japesinator opened #99 "Clean up Main.hs logic with DoAndIfThenElse"
https://kseo.github.io/posts/2014-01-13-DoAndIfThenElse-language-extension.html

I think our indentation in Main.hs can be kinda misleading, this seems like a nice fix

[2018-07-31 20:02] ggrieco-tob opened #100 "Perprop leaks memory"
If you run `perprop-exe` any solidity contract, like this one:

[code]

using this config file:

[code]

It will cause a noticeable memory leak (use `top` to check it). Depending on your system configuration, your OS can kill automatically the `perprop-exe` execution.

[2018-07-31 21:41] #94 closed

[2018-08-01 18:32] blperez01 opened #101 "Coverage causes memory leak"
Switching to a hash/arc based coverage scheme in https://github.com/trailofbits/echidna/pull/79 has caused a memory leak.

[2018-08-02 17:25] btonic opened #105 "loadSolidity requires the contract path/filename in the selectedContract parameter"
When using `loadSolidity filePath selectedContract`, the `selectedContract` requires the formatting of: `"/path/to/contract.sol:SelectedContract"`, despite the `filePath` already being provided to `loadSolidity`.

[2018-08-02 20:12] ggrieco-tob opened #106 "Properties randomly fail when coverage is enabled"
If you run `echidna-test` with a solidity contract, like this one:

[code]

using this config file:

[code]

It will cause the `echidna_true` property to fail from time to time. For instance:

[code]

[2018-08-03 19:06] #101 closed

[2018-08-03 19:07] blperez01 commented on #100
This was due to coverage guidance leaking memory and the fact that `perprop` always uses coverage

[2018-08-03 19:07] #100 closed

[2018-08-06 15:16] #106 closed

[2018-08-06 15:18] #97 closed

[2018-08-06 22:36] ggrieco-tob opened #113 "Echidna with parallel testing is slower than using sequential testing"
I tested echidna using the recently enabled `-threaded` flag using [this smart contract](https://gist.githubusercontent.com/ggrieco-tob/870fd9567efacd6581b8f8572186612b/raw/e050777274566d42d511d1962d908323eaedb0c3/test.sol) with this command line:

[code]

Using the last revision (which uses `checkParallel`), echidna is taking quite a long time to run:

[code]

This execution uses all the availabl

[2018-08-07 12:10] ggrieco-tob commented on #113
If you remove the `-threaded` flag and leave the code as it is (`checkParallel`), echidna is fast:

[code]
This execution only uses 1 processor.  if you replaced the the use `checkParallel` by `checkSequential` in src/Main.hs, it is still fast:

[code]
This execution only uses 1 processor.

[2018-08-07 16:38] #113 closed

[2018-08-08 21:25] #105 closed

[2018-08-09 14:36] james9909 opened #120 "Flush stdout in perprop"
This would allow other programs to parse the stdout from perprop as a stream, as opposed to receiving all the stdout when the program exits. Since it may take a while for perprop to finish testing a single property, I think this would be good to have.

[2018-08-09 14:48] ggrieco-tob commented on #120
Can you try branch [dev-flush-stdout](https://github.com/trailofbits/echidna/tree/dev-flush-stdout) ?

[2018-08-09 15:04] james9909 commented on #120
Works great for me

[2018-08-09 16:27] #120 closed

[2018-08-11 18:41] ggrieco-tob opened #124 "CI tests are broken on master"
The fetching of the apt files fails on master:

[code]

complete log: https://travis-ci.org/trailofbits/echidna/jobs/414143702

[2018-08-14 21:06] japesinator commented on #124
Fixed in #125

[2018-08-14 21:06] #124 closed

[2018-09-04 16:57] ggrieco-tob commented on #26
Hi @snd. Sorry for the long delay to address this issue! Can you please test PR #131 ?

[2018-09-07 13:43] nambroladze opened #132 "echidna_alwaystrue fails on hardcoded return true"
I am fuzzing contract that has `echidna_alwaystrue` method which always returns true:

[code]

and echidna-test fails with error message
[code]

[2018-09-07 14:46] ggrieco-tob commented on #132
Can you re-try using the `dev-hevm-nix` branch?

[2018-09-07 14:56] nambroladze commented on #132
Docker build command fails on that branch for me.
It terminates with this error message:
[code]

Here is the full log:
[docker_logs.txt](https://github.com/trailofbits/echidna/files/2361501/docker_logs.txt)

[2018-09-07 15:12] ggrieco-tob commented on #132
Sorry. That was my mistake. Delete your `echidna` directory and try again (remember to check the `README` before starting).

[2018-09-07 15:19] nambroladze commented on #132
Now it terminates with this error:
[code]

[2018-09-07 18:03] ggrieco-tob commented on #132
Is it working?

[2018-09-07 18:53] nambroladze commented on #132
Sorry I thought `dev-hevm-nix` had same README.

I have cloned it using `--recursive` but now `echidna-test` does not even work for `cli.sol` (sample solidity contract):
[code]

[2018-09-09 15:54] ggrieco-tob commented on #132
is `solc` properly installed inside the container? can you verify it using ssh?

[2018-09-09 18:11] nambroladze commented on #132
No it is not properly installed. I have installed `solc` manually and test still fails on function `echidna_alwaystrue` that just returns true.

[2018-09-09 18:55] ggrieco-tob commented on #132
You need test a contract with no arguments in its constructor. Otherwise the execution will revert.

[code]

My advise is to fix the constructor parameters in the contract to test. For instance:

[code]

[2018-09-09 20:01] nambroladze commented on #132
I have removed parameters from constructor and it still fails on the test.

The constructor now looks like this:
[code]

[2018-09-09 20:11] ggrieco-tob commented on #132
Can you show us what is the code of `StandardToken`? If it fails, then the constructor should be reverting. If you leave the constructor empty it still fails?

[2018-09-10 00:10] pot8to opened #134 "Automated build on Docker Hub"
The repository owner can configure [automated builds](https://docs.docker.com/docker-hub/builds/) so that users can download it from Docker Hub instead of building it manually!

[2018-09-10 02:56] ggrieco-tob commented on #134
That's a great idea. I will take a look to this during the week.

[2018-09-13 16:37] mirathewhite opened #135 "How do I add new addresses?"
I want to write solidity tests to use with echidna-test, and I need to use more than 3 addresses. Questions:
1. In what file(s) do I define the new addresses?  I see addrList in several *.yaml files in the project.
2. Is there a special utility for generating addresses, or do I just add random ethereum addresses?  Do I need to add private keys somewhere?
3. If I want to test how two contracts inte

[2018-09-13 17:11] mirathewhite opened #136 "Testing an Ownable contract"
I want to run echidna-test on a contract that is Ownable.  My smart contract constructor automatically assigns `private address _owner` to be the sender that deploys the contract.  In order to properly test the contract, I need to call functions on the contract from the `_owner` address.

The file `config.yaml` appears to have a `sender` property - is this the address that deploys the contract?  H

[2018-09-14 14:50] mirathewhite commented on #136
Just realized there is an internal function `function _transferOwnership(address newOwner) internal` I can use to transfer owership to the Test contract.

[2018-09-14 14:50] #136 closed

[2018-10-05 21:31] dguido opened #138 "Reduce the size of the docker image?"
The docker image is quite large. I am only saying that because I'm on a hotspot trying to download it right now, and it's a pain. Can we strip out anything from the docker image?

[2018-10-09 15:19] japesinator opened #139 "Reentrancy Mode"
We can fuzz for reentrancy type bugs by instrumenting calls to the sender address and stochastically generating reentrant calls.

[2018-10-10 14:19] ggrieco-tob commented on #17
Hi @snd. Sorry for the long delay to address this issue! Can you please test PR #131 ? I will add the `Constructor();` soon but the checks to detect when the contract fails at the initialization should be working..

[2018-10-11 13:06] japesinator commented on #134
we actually don't have automated builds, I've been getting stuff up manually

[2018-10-11 18:56] ggrieco-tob commented on #63
Hi @dwhjames. Sorry for the long delay to address this issue!  We implemented the printing of the EVM event log when a property fails, so you should be able to see any event that you added. Can you please test PR #131 ?

[2018-10-13 00:30] andremarianiello commented on #15
I applied for this on gitcoin, not sure why gitcoin didn't post a comment on here on my behalf. Please approve me as a worker if you would like me to work on this.

[2018-10-14 02:14] mkosowsk commented on #15
@andremarianiello you have been approved to start work, please start at your earliest convenience. Thanks! 👍

[2018-10-14 02:36] andremarianiello commented on #15
@mkosowsk Who should I contact and by what method if I have implementation questions?

[2018-10-14 02:44] mkosowsk commented on #15
I think @japesinator would be a good bet and through this Github thread probably works 👍

[2018-10-14 02:54] andremarianiello commented on #15
@japesinator Would you prefer work for this ticket be done on master, or on @ggrieco-tob 's #133 ?

[2018-10-15 04:08] andremarianiello commented on #15
FYI, I don't think hevm provides any info about constructors. They seem to be purposely filtered from the contract's ABI. Doing this ticket will require changes to hevm.

[2018-10-19 14:30] ggrieco-tob commented on #15
@andremarianiello sorry for the delay answering your question!. I'm working in #133, so if you need some clarification on the refactored code to integrate this new feature, just let me know.

[2018-10-19 14:45] andremarianiello commented on #15
No worries. I take a look at that branch and integrate my changes on top. Do you have an estimate on how soon you expect to merge #133 in?

[2018-10-21 20:48] andremarianiello commented on #15
@japesinator @ggrieco-tob I have added fuzzing for the constructor, but it seems like that doesn't actually help for the original issue #14 . The fuzzing can produce arguments that also fail the `requires` calls, causing the VM to revert, just like what was happening when no args were created. Do you think it would make more sense to let a user specify constructor arguments via the config file?

[2018-10-24 12:41] ggrieco-tob commented on #15
I believe that specifying the constructors in the config file is a useful feature to have, but in this case, it is not the best solution. Allowing echidna to generate the constructor arguments is better. Even if it finds arguments that revert the execution, it doesn't really matter. Echidna should handle this as a revert like in the generation of transactions.

As I said, #142 is indeed useful, so

[2018-10-24 16:20] andremarianiello commented on #15
Okay, it sounds like I should make sure the fuzzer only validates properties for contracts that don't revert given a set of fuzzed arguments. I will look at your branch some more and see if I can treat bad fuzzed constructor args as a failed pre-condition rather than a failed post condition. I think this will give the behavior we want.

[2018-10-29 00:05] andremarianiello commented on #15
@mbrock just added the necessary functionality to hevm for me. however, our current version of hevm is way out of date. I have to update to the newest version.

[2018-10-29 03:02] ggrieco-tob opened #143 "Let user provide constructor args via config"
Assigned to @andremarianiello

[2018-10-30 16:12] james9909 opened #144 "Docker image fails to build"
The echidna Dockerfile specifies `ubuntu:rolling` (which is Ubuntu 18.10 atm), but the Ethereum ppa doesn't currently have any `solc` packages for that version. Because of this, [new docker builds of echidna fail](https://hub.docker.com/r/trailofbits/echidna/builds/bp8dg35wdpkbf7tuffytfyk/).

[2018-10-30 23:08] frankchen07 commented on #17
@ggrieco-tob - are you still working on this? If so, don't forget to get approval to start work here: https://gitcoin.co/issue/trailofbits/echidna/17/1453

[2018-11-01 17:11] andremarianiello commented on #15
https://github.com/trailofbits/echidna/pull/142

[2018-11-01 17:14] andremarianiello commented on #15
I'm currently trying to get travis to build using an updated stack resolver. The new hevm requires the libsecp256k1 library to be installed. I can build it locally using stack install --nix and the packages i added to the nix section of stack.yaml, but when running on travis I consistently run out of disk space while building. I'm trying to figure how to avoid this.

[2018-11-01 19:42] mbrock commented on #15
@andremarianiello Note that the libsecp256k1 dependency is on that native system library, not a Haskell library. Hevm has its own small C binding code. So for Travis, you should install that using some `apt` command, I guess?

[2018-11-03 15:33] dguido opened #145 "Add documentation about effectively using asserts to the docs"
https://blog.regehr.org/archives/1091

[2018-11-04 20:08] andremarianiello commented on #143
Any chance on getting a bounty on this?

[2018-11-04 20:08] andremarianiello commented on #15
Ready for review: https://github.com/trailofbits/echidna/pull/141

[2018-11-12 17:14] asymmetric opened #146 "Define contract deployer"
I'd like to be able to control the address that creates my contracts.

Since echidna uses hevm in the background, I had a look at the source and found [this variable](https://github.com/dapphub/dapptools/blob/920bf4c528ceac5b32f0050aa0af0784d0349ca1/src/hevm/src/EVM/Exec.hs#L18), which in hevm is both the [origin and the caller](https://github.com/dapphub/dapptools/blob/920bf4c528ceac5b32f0050aa0a

[2018-11-12 17:16] asymmetric commented on #66
Where/how? :)

[2018-11-12 17:56] asymmetric opened #147 "Configured contract address not honored"
Given the following contract:

[code]

and this config file

[code]

I would expect the suite to pass, whereas I get

[code]

[2018-11-12 17:58] ggrieco-tob commented on #147
Can you retest with the `dev-no-hedgehog` branch? I think that's is fixed in that branch.

[2018-11-12 18:19] asymmetric commented on #147
I tried `stack build` on that branch, but it failed with:

[code]

[2018-11-12 19:08] asymmetric commented on #147
Managed to use Docker to build the branch (at commit a67091f499b90c9ae874e553c67e28798fc8457f), got this error:

[code]

[2018-11-12 19:10] ggrieco-tob commented on #147
Uhm. I will take a look to this issue then. That branch is where we are doing the refactoring.

Do you have a use case for this feature?

[2018-11-12 20:38] asymmetric commented on #61
I just tried running this contract with both scenarios (lined commented out and not) and they both passed.

Seems like the bug which should've been fixed is still there.

[2018-11-13 07:15] frankchen07 commented on #15
hey @mbrock - Frank from Gitcoin here, checking in for @andremarianiello. It looks like there's a submitted PR. Did you get a chance to check it out?

[2018-11-13 13:58] mbrock commented on #15
@frankchen07 @andremarianiello 👋  I'm a maintainer of hevm (https://github.com/dapphub/dapptools) but not this repository. Someone from the Trail of Bits organization should probably look at this pull request. I made some supporting changes to hevm but they are committed and released.

[2018-11-13 14:01] ggrieco-tob commented on #15
@frankchen07 I will take a look the submitted PR very soon.

[2018-11-13 15:43] asymmetric commented on #15
@frankchen07 what PR are you referring to? There are no relevant PRs open on the hevm repo (which is what @mbrock is responsible for).

[2018-11-13 18:53] asymmetric opened #149 "Make deployment failures clearer"
Currently, if a contract fails to deploy for whatever reason, echidna shows the same output as when an invariant is invalid.

It would be helpful if these two cases could be made easier to distinguish.

[2018-11-13 19:31] asymmetric commented on #149
Duplicate of #17.

[2018-11-13 19:31] #149 closed

[2018-11-15 12:21] ggrieco-tob commented on #51
@andremarianiello created PR #141 to migrate to hevm-0.21 using stack. It should solve this issue.

[2018-11-15 12:30] ggrieco-tob commented on #15
@frankchen07 @andremarianiello I started to take a look to #141 (feel free to fix or answer my comments in the PR). I'm summoning @japesinator and @blperez01 to help with the review as well.

[2018-11-19 11:55] ggrieco-tob commented on #143
I already submitted a bounty proposal in gitcoin last week for this issue. I don't know how long they take..

[2018-11-19 20:04] elenadimitrova commented on #95
That would be really nice. I am struggling to find answers to even basic questions, e.g. how to handle contracts  under test that require imports, how to do test harness setup (via test contract constructor or otherwise) etc

[2018-11-20 19:36] ESultanik opened #152 "Support for loading contracts directly from a `solc` combined JSON file"
Among other things, this will allow Echidna to directly load contracts compiled through `truffle compile`.

[2018-11-21 16:56] asymmetric commented on #144
Closed in #148.

[2018-11-28 16:14] james9909 commented on #144
Docker hub still [fails to build the container](https://hub.docker.com/r/trailofbits/echidna/builds/bqmvsa7kawzqvasw56zsfhw/).

[2018-11-30 17:50] andremarianiello commented on #143
@gitcoinbot There is already a WIP PR.

[2018-12-09 17:20] andremarianiello commented on #143
@gitcoinbot

[2018-12-11 17:32] ESultanik opened #155 "Add an example that uses the "Master Contract" pattern"
Add an example that uses the pattern in which the "master" Echidna test contract instantiates two or more other contracts that are the ones actually being tested.

[2018-12-14 17:16] CPSTL commented on #15
Hey @mbrock @ggrieco-tob ! Gitcoin Ambassador here to check in and see if @andremarianiello 's PR has been reviewed and/or merged? If not, what needs to be completed in order for it to get merged and paid out?

[2018-12-17 13:07] ggrieco-tob commented on #15
@CPSTL I'm reviewing his PR and I recently found that he still have to fix one regression: https://github.com/trailofbits/echidna/pull/141#issuecomment-447838641

[2018-12-21 19:54] montyly opened #156 "Create a tutorial based on our workshop material"
We can create a tutorial in the wiki based on https://github.com/trailofbits/publications/tree/master/workshops/Automated%20Smart%20Contracts%20Audit%20-%20TruffleCon%202018/echidna

The documentation should show how to write simple properties and test them with echidna.

Additionally, the wiki can describe:
- How to effectively using asserts (https://github.com/trailofbits/echidna/issues/145)
- H

[2019-01-10 21:02] lastperson commented on #9
I have this same problem with the following contract:
[code]
with latest echidna docker container, on Ubuntu 18.04. Any suggestions?

[2019-01-15 17:23] pbteja1998 commented on #156
@montyly Is the issue still open?

[2019-01-15 21:55] pbteja1998 commented on #156
@montyly Please respond. I want to work on this if it is still open. I am unable to join slack channel. It is saying that an invite is needed to join.

[2019-01-16 00:12] bobjiang commented on #156
@montyly Is this issue available still?
Remind you to give feedback :)

Thx!

[2019-01-16 14:52] montyly commented on #156
@pbteja1998 and @bobjiang , yes it is still a valid issue!

We are looking forward to have an up-to-date material

[2019-01-17 15:19] montyly commented on #156
@sprimage it sounds like a good plan!

@vs77bb could you approve the work? Thanks!

[2019-01-18 01:10] ryan-shea commented on #156
@montyly approved !

[2019-01-20 23:43] Sprimage commented on #156
Hi, work in progress will submit a PR soon.

I've created the structure of the tutorial to encompass how to use echidna, outputs to expect and basic script to pass as invariant.  Also written related information on using Echidna with asserts. I'm having trouble creating a sample code however to fit this scenario  as well as the master contract pattern. Would be really helpful if any of tje other c

[2019-01-21 17:19] montyly commented on #156
Great @Sprimage!

Feel free to join our [slack](https://empireslacking.herokuapp.com/) (#ethereum) if you need assistance with echidna.

[2019-01-24 17:23] g-laz77 commented on #17
Sorry that I wasn't able to respond the past week. I had contracted flu and allergies and had to catch up with university work after that. I have set up echidna. Now I am trying to test an example contract to identify the failure at initialisation.

[2019-01-27 19:30] ealmansi opened #159 "Unable to execute example in readme file: "commitBuffer: invalid argument""
Hi,

I'm running the following steps from the readme file:

1. `docker pull trailofbits/echidna`
2. `docker run -v `pwd`:/src trailofbits/echidna echidna-test /src/solidity/cli.sol`

And I'm getting the following output displaying an error:

[code]

---

Additional details:
- I'm running this from echidna's root directory.
- Ubuntu 18.04.1 LTS
- Docker version 18.09.1, build 4c52b90

[2019-01-28 01:45] Sprimage commented on #159
Hi, i believe the wiki will be updated soon. But you might want to try pulling the `eth-security-toolbox` docker as it might be a better option

[code]

[2019-01-30 20:46] montyly commented on #156
@Sprimage thank you your for your contribution. We are going to include the tutorial in the WIKI soon

@vs77bb can you validate the bounty? Thank you!

[2019-01-30 21:59] mrice32 opened #160 "Nonzero return code on failure?"
Is it possible to get the echidna-test binary to give a pass back a nonzero return code when any properties fail? If this is not currently possible, it would be really nice to have this for use in CI.

[2019-01-30 23:46] mrice32 opened #161 "Eliminate view and pure functions from call sequences"
It seems that `view` (and I assume `pure`) functions are part of Echidna's call sequences (I noticed a public getter was being included in many sequences, for instance). Is this intended behavior? Since these functions can't change the state of the contract and, therefore, can't affect the result of any future invariant checks, shouldn't Echidna prune these functions from its list of callable func

[2019-02-08 18:24] incertia commented on #160
58b6858 adds this, which should be merged soon (tm)

[2019-02-08 19:37] ggrieco-tob opened #163 "Echidna will never call the fallback function"
Latest revision of Echidna will never call the fallback function:

[code]

[2019-02-08 20:01] ggrieco-tob commented on #51
Not longer failing in master, since we are using hevm-0.21.

[2019-02-08 20:01] #51 closed

[2019-02-08 22:20] ggrieco-tob opened #164 "getTerminalAttributes: illegal operation (Inappropriate ioctl for device)"
If you pipe anything into Echidna, it will crash:

[code]

This issue is related with [this](https://github.com/jtdaugherty/brick/issues/21).

[2019-02-08 23:12] mrice32 commented on #160
Thank you!

[2019-02-11 19:26] jMyles opened #167 "README is a 404 for example config and documentation"
The line in question is [this one](https://github.com/trailofbits/echidna/blame/c06a9da7f9f8312e3c166b88b1d4a3d1d4c208ca/README.md#L42):

`The configuration file allows users to choose EVM and test generation parameters. An example config file, along with documentation, can be found at [solidity/config.yaml](solidity/config.yaml).`

This might be a repeat of #95, though `5a574f7b34814925be26d58142

[2019-02-12 11:50] ggrieco-tob commented on #167
Oh, sorry!. We should fix this very soon: yesterday, we started a PR to fix the README and update documentation and examples, here #168.

[2019-02-12 18:36] ggrieco-tob commented on #167
A preliminary version of the configuration options documentation is available here: https://github.com/trailofbits/echidna/wiki/Config

[2019-02-12 19:29] montyly opened #171 "Tuesday 19th February: Echidna discussion during Trail of Bits Office hours (12pm EST)"
We will have a presentation about Echidna during our next office hours session.

We will cover the recent Echidna refactoring and the evolution of its fuzzer. If there is something you want to learn in particular about the tool, feel free to post a comment here, we will try to answer it during the call.

Our call will be [on Google Meet](https://meet.google.com/yjx-xhsa-ahz) on Tuesday 19th Feb, 1

[2019-02-13 12:15] ggrieco-tob commented on #167
@jMyles can you take a look to #168?

[2019-02-15 12:43] montyly commented on #156
I am closing this issue. We still have some ongoing documentation to write, but the workshop is now integrated.

[2019-02-15 12:43] #156 closed

[2019-02-15 18:41] montyly opened #173 "Support for Solidity library?"
Echidna seems to fail with libraries:
[code]
Tested with the latest version on `eth-security-toolbox`:
[code]

[2019-02-15 18:54] montyly commented on #173
It seems that executing a library makes the function always revert.

For example, in the previous example if I add
[code]
I have the same result, but if I add
[code]
This error occurs:
[code]

[2019-02-20 19:57] Xenomega opened #176 "Address literals do not respect EIP-55"
Echidna documentation often references an address literal, and echidna itself often outputs an address literal during execution.

These addresses are not EIP-55 compliant, see here:  https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md.

As such, copying any addresses from documentation or echidna output directly into your tests will make newer `solc` versions error, complaining  that the a

[2019-02-21 19:14] #167 closed

[2019-02-21 19:19] montyly commented on #171
The recording is online: https://www.youtube.com/watch?v=A3IKzEc0Z1k

[2019-02-21 19:19] #171 closed

[2019-02-21 19:21] ggrieco-tob commented on #160
This should be fixed.

[2019-02-21 19:21] #160 closed

[2019-02-21 20:47] ggrieco-tob commented on #159
Hi @ealmansi, can you re-try with a the latest echidna docker container? Take a look to the updated README because we included some new flags:

[code]

[2019-02-21 23:10] ggrieco-tob commented on #147
Hi @asymmetric, can you check #178 ?

[2019-02-22 00:49] bandrebandrebandre commented on #155
Any way this could get added? Would be really helpful.

[2019-02-23 08:33] g-laz77 commented on #17
Hi, sorry for the delayed response, but I was busy with semester work for the last couple of weeks and couldn't spend any time on the issues. I am beginning the work now

[2019-02-26 16:16] agroce opened #180 "VM failed for unhandled reason, Query <EVM.Query: fetch contract ... >"
https://solidity.readthedocs.io/en/v0.5.3/solidity-by-example.html

[code]

No need for config, just `echidna-test SimpleAuction.sol` and you'll see the hang between 10-50 iterations (usually about 10).  My solc is:

`Version: 0.5.4+commit.9549d8ff.Darwin.appleclang`

[2019-02-26 17:49] agroce commented on #180
Looks like it causes an internal error, really.  Here's a shrunk version that causes the issue:

[code]

shrink.yaml:
[code]

Shrunk.sol:
[code]

[2019-02-26 17:57] agroce commented on #180
Shorter yet:

[code]

[2019-02-26 19:59] agroce commented on #180
Is this just the known issue?  Hanging vs. the error seems user-unfriendly, though, not sure if that's generic to the problem or not..

[2019-02-27 20:58] ggrieco-tob commented on #164
Fixed.

[2019-02-27 20:58] #164 closed

[2019-02-27 20:59] ggrieco-tob commented on #147
This is fixed in `master`. Please reopen if it fails for you.

[2019-02-27 20:59] #147 closed

[2019-02-27 21:00] ggrieco-tob commented on #146
We have a configuration option called `deployer`. Is that what you need?

[2019-02-27 21:02] ggrieco-tob commented on #95
README is better, but perhaps we need better examples?

[2019-03-04 05:22] JackHFeng commented on #180
I am getting the same issue, were you able to figure out why?

[2019-03-04 09:21] emavgl commented on #146
Hi @ggrieco-tob my configuration file has these fields:

[code]

Even if the field **deployer** is set; testing a contract that extends the contract  `owned`

[code]
causes the following invariant to fail at the first call

[code]

instead, this one never fails

[code]

Am I using the `deployer` parameter in the right way?

[2019-03-04 11:16] ggrieco-tob commented on #146
You will need the latest master revision to user `deployer`. You need to change your configuration as well, take a look to the new options [here](https://github.com/trailofbits/echidna/wiki/Config) (some options that you used are deprecated, like `addrList`).

[2019-03-04 11:21] emavgl commented on #146
Hi @ggrieco-tob I'm sorry but I deleted the comment when I realized that that field was added recently.
I already tested it with the version on master and it seems working fine. What is the replacement for the field `addrList`?

[2019-03-04 11:27] ggrieco-tob commented on #180
This is a known issue caused by a `Query` error in HEVM when echidna tries to interact with addresses that are not defined. In this case: `beneficiary.transfer(highestBid)` (which is going to be `0x0` in this example). While we fix this issue, please comment any line sending ether or calling non-existing contracts.

[2019-03-04 11:30] ggrieco-tob commented on #146
There is no replacement yet. We don't know if we should add, since the PR #181 can automatically extract useful constants from the code. Feel free to test it with your contract and report the results in the PR comments.

[2019-03-04 11:30] #146 closed

[2019-03-04 12:48] ggrieco-tob commented on #144
This was already fixed.

[2019-03-04 12:48] #144 closed

[2019-03-04 13:32] emavgl opened #183 "Echidna doesn't pass a simple require"
Hi, I'm trying to use the new version of Echidna (currently on master) to do some tests.
The target contract is the following:

[code]

config is the following
[code]

All the tests passes; that means that transfer is never successfully called and tokens are never moved from alice's balance. Removing the `require`, the invariant is violation.

[2019-03-04 13:36] ggrieco-tob commented on #183
can you re-test with the `wip-dict-api-stable` branch (PR #181) ?

[2019-03-04 14:04] emavgl commented on #183
with the version of branch `wip-dict-api-stable` it worked.

[code]

But if I set `uint totalSupply = 100;` it doesn't.

Moreover, without the field `addrList`; how can I enforce to use one of the specified senders, or hardcoded as function parameter?

[2019-03-04 15:50] JackHFeng commented on #180
Thank you so much!

[2019-03-04 16:23] JackHFeng opened #184 "What exact fuzzing techniques have been used?"
I was looking at codes on how you guys do the fuzzing part.
Then I found this echidna/lib/Echidna/ABI.hs. Is this the right file where you do the fuzzing of different types of parameters for each function?
Was there any systematic fuzzing technique used? Like maybe bit flip, byte flip? Some of codes seem to have just random generation and selection, how do you handle duplicate test cases without s

[2019-03-04 18:37] ggrieco-tob commented on #183
Great. Let's we move this discussion to the #181 thread: we want the new version of echidna to be able to find that test as well. @emavgl please submit the test case with `uint totalSupply = 100;` in #181.

[2019-03-08 07:38] erfanwakka opened #187 "please help me on running echidna"
I cannot print the report
I simply want to test an example but when It's says `Campaign complete, C-c or esc to print report `
I do esc and nothing happen

[2019-03-08 12:12] ggrieco-tob commented on #187
is ctrl+c also failing?

[2019-03-11 19:09] ggrieco-tob commented on #187
Feel free to stop by our [Slack channel](https://empirehacking.slack.com/messages/C7KKY517H/) for help using Echidna.

[2019-03-11 19:09] #187 closed

[2019-03-12 06:14] erfanwakka commented on #187
could you send me an invitation : andesta.erfan@gmail.com

[2019-03-14 06:07] erfanwakka opened #189 "someone please add me to the slack group"
Here is my email address : andesta.erfan@gmail.com

[2019-03-18 02:29] ReeceNee commented on #189
hi, have you already join into slack?

[2019-03-18 02:45] ReeceNee opened #190 "What types of vulnerability does Echidna support?"
such as: re-entreny, integer overflow etc.

[2019-03-18 02:54] ggrieco-tob commented on #190
Echidna can help to discover any issue in your contracts as long as you can write a Solidity property to express it (e.g. the balance of tokens of a user cannot decrease). Please join the [Slack channel](https://empirehacking.slack.com/messages/C7KKY517H/) to continue this discussion.

[2019-03-18 02:54] #190 closed

[2019-03-18 02:54] ggrieco-tob commented on #189
Yeap, this is was already solved.

[2019-03-18 02:54] #189 closed

[2019-03-18 02:57] ReeceNee commented on #190
Thanks for your quik replay! How should I join the slack channel with none permission?

[2019-03-18 03:05] ReeceNee commented on #189
csdzip for gmail, can you help me to join ?

[2019-03-19 13:25] willclarktech opened #191 "Allow Docker users to specify solidity version"
When I try to run tests on my `pragma solidity ^0.5.2` contract I get the following error:
[code]
It looks like you've got some support for v0.5.x but the Dockerfile only provides v0.4.25. It would be great if the test tool (and running it via Docker specifically) would allow you to specify the solidity version you want to use and/or automatically respect the `pragma` statement.

[2019-03-19 17:05] ESultanik commented on #191
It is using a slightly out-of-date version of Echidna (due to dependency issues with other tools in the container, which will be fixed soon), but you can also try using the Ethereum Security Toolbox Docker container:

https://github.com/trailofbits/eth-security-toolbox

It comes preinstalled with a bunch of different versions of Solidity.

In the long run, we should probably have the Echidna Docke

[2019-03-19 17:15] willclarktech commented on #191
Thanks, I actually stumbled on this a short while after posting the issue. It's a nice tool, but a 14GB docker image (`eth-security-toolbox`) is quite a lot to ask of my colleagues...

[2019-03-22 06:51] Xenomega opened #194 "Feature Request: Fuzzing constructors with arguments"
As a feature suggestion stemming from earlier discussions, if issue #143 is implemented (specifying constructor args via config), it may be worth considering the fuzzing of constructor arguments as well.

Currently for Echidna to test a contract, it cannot take constructor arguments. If it does, the user is encouraged to derive from it, specifying values to the base constructor call, so the inheri

[2019-03-27 21:12] itirabasso commented on #191
You can manually install a specific solc version on your container
[code]

[2019-03-27 22:19] ggrieco-tob opened #195 "Echidna fails to run if precompiled contracts are executed in a contract"
[code]

[code]

[2019-04-01 11:40] ggrieco-tob commented on #195
This is an issue in [hevm](https://github.com/dapphub/dapptools/issues/1). A possible workaround is to reimplement the precompiled contracts in Solidity for each test case. I will investigate if this is feasible.

[2019-04-01 13:33] ESultanik commented on #195
Is this really an issue with precompiled contracts, or is it just related to any use of the `ecrecover` function?

[2019-04-01 13:40] ggrieco-tob commented on #195
Any precompiled contract will trigger this issue. For instance: `identity` will also fail.

[2019-04-01 16:31] livnev commented on #195
@ggrieco-tob It's unfortunate that your `ECRECOVER` example fails, since this is the one precompile that `hevm` tries to support so far, since https://github.com/dapphub/dapptools/commit/c4822ce84f5bb4b680371a881de0afe9c7bae8f0

The error message you have is actually not the same as if you'd called one of the other precompiles, which simply aren't implemented. Instead, what you are hitting is inco

[2019-04-01 17:18] ggrieco-tob opened #198 "Issue test"

[2019-04-01 17:18] ggrieco-tob commented on #198
test

[2019-04-01 17:18] #198 closed

[2019-04-01 20:51] ggrieco-tob commented on #161
I think this won't be an issue if #197 is merged. What do you think @agroce ?

[2019-04-01 20:55] ggrieco-tob commented on #152
I'm working to load truffle artifacts into echidna in #188

[2019-04-01 21:29] agroce commented on #161
It won't be as critical, it'll still lower the effectiveness, and increase the `seqLen` needed for same test effectiveness.   If it's a giant pain to do, then #197 is enough for now, but if it's moderately easy it'd certainly increase efficiency a decent amount for contracts with lots of `view`/`pure` functions, I would guess.

[2019-04-03 20:52] ggrieco-tob commented on #195
Thanks for fixing the issue in hevm, @livnev ! We will wait until the release in stack of hevm to test it. Do you know when it can be?

[2019-04-05 18:32] montyly opened #203 "Add Embark support"
Similarly to Truffle, we should support [Embark](https://embark.status.im/).

We can use our [embark plugin](https://github.com/crytic/embark-contract-info/) to extract the ABI and the bytecode of each contract, and loads the info into echidna.

[2019-04-09 01:32] ggrieco-tob commented on #183
This is fixed.

[2019-04-09 01:32] #183 closed

[2019-04-10 18:07] agroce opened #205 "Repeating previously used values is helpful"
This contract:

[code]

if tested with the commented-out code restored, or with coverage, reliably produces a failure quickly.  Without code coverage (`--config nocov.yaml`), however, it usually will run 10K+ tests without finding anything.

Also mysterious:  SOMETIMES it finds something.

[NeedMemory.zip](https://github.com/crytic/echidna/files/3065167/NeedMemory.zip)

[2019-04-10 18:13] agroce commented on #205
This version even with coverage, makes the bug almost impossible to find:

[code]

[2019-04-10 18:14] agroce opened #206 "Echidna should occasionally intentionally use small values"
Even with coverage, so long as you don't manually add a memory, this is hard to detect:

[code]

[2019-04-10 18:15] agroce commented on #206
Actually, even WITH the manual memory, this is almost impossible to detect!

[2019-04-10 18:17] agroce opened #207 "Echidna should use values NEAR mined constants"
[code]

If echidna tried using 1 and 3 in addition to 2, it would detect this easily.

[2019-04-11 15:23] agroce opened #208 "Echidna may be ignoring coverage configuration"
Runs with

`coverage: false`

in the .yaml config file seem to be identical to runs without it.  They show instruction count, which means coverage is being measured (which is quite costly).  Problem for benchmarking as well.

[2019-04-11 21:37] agroce opened #210 "Value for local memory bool array is not correct"
[code]

This should pass (not revert), but it fails.

[2019-04-11 21:38] agroce commented on #210
99% known to not be an hevm issue; "echidna is probably not resetting the storage memory correctly" according to Gustavo

[2019-04-11 22:32] ggrieco-tob commented on #210
Should be fixed in #211 but please test it first :smile:

[2019-04-12 02:27] agroce commented on #210
Seems fixed to me, merge away

[2019-04-12 12:47] ggrieco-tob commented on #203
This should be covered by #204 using `crytic-compile`, right?

[2019-04-12 12:54] ggrieco-tob commented on #195
This works in #209. @ESultanik can you please re-test to confirm this?

[2019-04-12 19:39] ggrieco-tob commented on #180
This should be solved in #212 but please test it. :smile:

[2019-04-12 19:42] ggrieco-tob commented on #56
This is no longer an issue in the new CI tests.

[2019-04-12 19:42] #56 closed

[2019-04-16 16:14] agroce commented on #206
Fixed in #213

[2019-04-16 16:14] agroce commented on #207
Fixed in #213

[2019-04-16 20:27] agroce opened #214 "Support properties that SHOULD revert"
If property name has _reverts in it, consider result false/failed unless the transaction reverts.

Distinct from config-level allowing all props to revert or return true:

- per property avoids danger of accidental vacuity

- forces, vs. allows, revert (can simulate with return false at config level of course)

[2019-04-17 22:21] ggrieco-tob commented on #210
Merged.

[2019-04-17 22:21] #210 closed

[2019-04-19 18:36] #207 closed

[2019-04-19 18:37] #206 closed

[2019-04-19 19:08] agroce opened #216 "Investigate more intelligent constant mining"
- Use SlithIR to improve the ease of improving this?

- Invert simple arithmetic operations, without using symbolic execution or anything costly/fancy.  E.g., mine "4" (and nearby constants 3 and 5) from "if (x * 2) == 8".

- It's NOT a good idea to extend current mining of i-1, i, i+1 to, e.g., i-8, i, i+8 -- we don't have weights on constants right now, and you need a decay with distance, or cas

[2019-04-19 19:13] agroce commented on #216
Long-term, we just want to ask Slither for good constants, get them via json or something

[2019-04-19 19:51] #180 closed

[2019-04-20 07:29] montyly commented on #216
That should be trivial to get with Slither.

We can either have an ad-hoc script, or create a slither util for that (`slither-constant-extraction`).
Example of ad-hoc script:

[code]

Which will output for:
[code]
[code]

We can do more advanced stuff, like:
- extracting the number of occurrences of each constant,
- adding a flag if the constant is directly used in a comparison,
- adding a flag if

[2019-04-20 12:32] ggrieco-tob commented on #216
There is [a PR to integrate the use of crytic-compile](https://github.com/crytic/echidna/pull/204). Maybe we should add this script/util/feature to that tool, instead of slither itself?

[2019-04-20 20:45] agroce commented on #216
I think having slither/crytic-compile produce not just constants but weights, and changing the dictionary to work with weighted sets, is the way to go here, maybe...

[2019-04-23 21:00] agroce opened #218 "Integrate coverage/mutation code"
Right now, `spliceTxs` in `Transaction.hs` is never called, so nothing much happens with mutation of new-cov transactions

[2019-04-24 19:02] agroce opened #220 "killing echidna-test on Mac OS can leave the terminal in a bad state, with dashboard"
What the issue says.  If you ctrl-c, it's fine, but e.g.:

`killall -9 echidna-test`

will leave terminals that were running a dashboard echidna in a bad state.  `reset` does not fix the terminal, in all cases.  This happens even if the dashboard output is being redirected to a file for on-the-fly analysis.

[2019-04-24 20:22] agroce commented on #220
`stty sane` and `tput rs1` also fail to help the poor terminal

[2019-04-24 20:25] agroce commented on #184
Jack:  duplicate tests aren't really a problem, with pure random generation, due to the chance of repeating a 256-bit value being essentially zero.  That said, we do some constant mining, and there is a start on a coverage-driven aspect.  But there's no issue with just doing pure random here, in terms of duplicate tests, unless you have a very strange (and easy to fuzz!) contract.

[2019-04-24 20:26] #184 closed

[2019-04-24 21:10] ggrieco-tob commented on #214
While the return value equal to `false` can be implemented right now, the revert is undetected. I propose to make `_revert` transaction *only* to succeed in revert. What do you think?

[2019-04-24 21:13] agroce commented on #214
Yeah, that's ideal.  Good!

[2019-04-30 21:30] agroce commented on #220
This is probably not really important, without kill -9 use

[2019-04-30 21:30] #220 closed

[2019-05-08 15:05] ggrieco-tob commented on #173
I believe it is fixed in #224. Please test! :smile:

[2019-05-10 18:29] agroce opened #225 "Support early termination on property failure"
Critical for easy effective use of mutation analysis.  Handled via ad hoc scripts watching dashboard output and killing, now, which is a mess

[2019-05-10 18:30] agroce opened #226 "Support timeout"
Define testing period by wall clock time, not number of tests.  Better for mutation testing/CI.

[2019-05-26 16:17] johnsoncarl commented on #139
I can try doing that. Should I?

[2019-05-26 16:22] johnsoncarl commented on #139
I would recommend making another directory inside example, carrying all the types of known bugs discovered to date.

I've implemented unchecked send() in the following gist, kindly have a look

[https://gist.github.com/johnsoncarl/8a4659e504a09dbd0366038aa6e11a0b](`uncheckedSend.sol`)

[2019-05-28 17:16] johnsoncarl opened #229 "Missing Contributing.md"
The library is missing a proper `contributing.md` file, to help the developers to participate in and develop the library/tool to the best.

Developers, please try a little to add it.

Many Thanks!

[2019-06-04 12:46] ggrieco-tob commented on #229
I created this draft PR to start the discussion: https://github.com/crytic/echidna/pull/231

Feel free to comment any improvements there.

[2019-06-11 06:51] johnsoncarl opened #232 "Ether holding contract and Multi contract not supported."
I have looked into some missing functionality in echidna.
It has some incomplete/ongoing work in implementing the following functionalities.

- [x] The ability of a contract to hold ether
- [x] Ability of the tool to deploy multiple contracts and transact between them

[2019-06-12 13:08] johnsoncarl opened #234 "Missing (or bad) C library: ff while installing hevm with latest master branch"
I have tried everything including installing `libff` but nothing seems to work.

Is this the problem with `echidna` itself, or is it only me, who is getting this error.

On running `stack install`

[code]

[2019-06-12 13:10] ggrieco-tob commented on #234
I'm updating the README to explain this. In the meantime, take a look to it [here](https://github.com/crytic/echidna/blob/dev-fixes/README.md#installation).

[2019-06-12 14:21] johnsoncarl commented on #234
hey @ggrieco-tob , I've tried everything.
Nothing seems to work.
I think manually transferring the libff should work.

[2019-06-12 14:50] ggrieco-tob commented on #229
Fixed.

[2019-06-12 14:50] #229 closed

[2019-06-12 16:17] #214 closed

[2019-06-13 14:31] ggrieco-tob commented on #234
We can't reproduce this when building with docker. Can you try:

[code]

[2019-06-13 14:32] ggrieco-tob commented on #203
I can confirm #204 works with Embark, however we are still refactoring that PR.

[2019-06-13 14:37] ggrieco-tob commented on #195
This should be fixed.

[2019-06-13 14:37] #195 closed

[2019-06-13 14:40] ggrieco-tob commented on #173
This should be fixed. I will include in the wiki a more complete example to help people to test their contracts with libraries.

[2019-06-13 14:40] #173 closed

[2019-06-13 14:42] ggrieco-tob commented on #159
Closing this inactive bug. Please re-open if when you try the new docker.

[2019-06-13 14:42] #159 closed

[2019-06-13 16:30] johnsoncarl commented on #234
hey @ggrieco-tob , The docker build was working perfectly.

I was actually trying to get the things done, using source.

However, maybe it's not an issue for now, and could be possible it is just with my system setup, I'm closing this issue.

Thanks!

[2019-06-13 16:30] #234 closed

[2019-06-20 13:07] ggrieco-tob commented on #232
That should be supported in #240, but please test it just to be sure :smile:

[2019-06-21 17:46] ggrieco-tob commented on #95
README is better now. I improved a little the examples and removed old flags.

[2019-06-21 17:46] #95 closed

[2019-06-24 04:37] johnsoncarl opened #243 "unable to install echidna either way by docker or by stack"
I have tried all the ways to install echidna, but it still shows this error

**On installing using stack:**
[code]

## and on installing

**using docker:**
[code]

I have installed correct version of the libff but still the installation doesnt seem to be working.

Any help on the issue?

[2019-06-24 05:00] johnsoncarl commented on #243
I'm not sure but don't you guys think `--extra-include-dirs=/usr/local/opt/readline/include --extra-lib-dirs=/usr/local/opt/readline/lib` while installing hevm is wrong, or maybe you guys are missing correct installlation path of the libff.

It wasn't working for me, on UBUNTU 18.04. but then I created the above directory, _i.e._ `/usr/local/opt/readline/include` and `/usr/local/opt/readline/lib`,

[2019-06-24 13:45] johnsoncarl opened #244 "Missing echidna [debug] mode"
GreyBox Fuzzing. Usually, it is good to have a look at what is actually happening when you fuzz a contract.

[2019-06-24 13:56] ggrieco-tob opened #245 "Support beforeAll, beforeEach, afterAll and afterEach hooks in echidna"

[2019-06-24 18:15] ggrieco-tob commented on #245
`beforeAll` is kind of implemented in #227

[2019-06-24 23:51] ggrieco-tob opened #247 "Echidna fails to generate dynamic arrays with known constants"
Echidna cannot solve this:

[code]

[2019-06-25 11:38] ggrieco-tob opened #248 "Echidna never shrinks dynamic arrays"

[2019-06-26 15:39] #247 closed

[2019-06-26 18:58] ggrieco-tob commented on #248
Fixed in #249

[2019-06-26 18:58] #248 closed

[2019-06-26 18:58] ggrieco-tob commented on #226
Please test #251

[2019-06-26 19:06] agroce commented on #226
Will do, probably tomorrow (on NAU and DARPA stuff today)

[2019-06-26 21:40] ggrieco-tob commented on #218
Please take a look to #246

[2019-06-26 21:47] agroce commented on #218
Do we have/need tests of this?

[2019-06-26 21:50] ggrieco-tob commented on #218
We need to test and discuss it. This is only the first approach.

[2019-06-27 18:55] elenadimitrova opened #253 "Lost ability to specify solc compiler options"
Reiterating #36 which was solved but since we've lost that ability again. Now running
`echidna-test contracts/ColonyTaskTest.sol --solc-args="--allow-paths=lib/dappsys/*.sol"`

returns

`Invalid option `--solc-args=--allow-paths=lib/dappsys/*.sol'`

[2019-06-27 19:10] ggrieco-tob commented on #253
Using `--solc-args` in the command line is deprecated. Please use the `solcArgs` option in a [config file](https://github.com/crytic/echidna/wiki/Config).

[2019-06-28 10:51] #253 closed

[2019-07-02 07:06] unboxedtype opened #255 "Questions regarding functional capabilities of the tool"
Hi! I have two questions.

1. The quote from the intro text of the tool:

Can you please elaborate on what kind of sophisticated campaigns can be used in Echidna to falsify what predicates?

2. In the source code, besides generating random inputs you also rely on some entity called dictionary. (GenDict, mkGenDict, ...) What exactly it is used for?

Thanks!

[2019-07-02 15:43] unboxedtype opened #256 "Linking errors when building Echidna using stack"
I would like to build Echidna from sources. To do so, I proceed as described in the README file. Everything runs smoothly until echidna-test binary gets into link stage.

[code]

I am new to Haskel Stack build system. Have you experienced such behavior before?
Any ideas how to help it find all those libraries?

Thanks.

[2019-07-02 15:58] incertia commented on #256
These are libraries that should exist on any standard linux system. Maybe try setting `LIBRARY_PATH`?

[2019-07-02 16:00] ggrieco-tob commented on #256
Also, can you give more details on your OS? how you executed stack to compile echidna?

[2019-07-02 16:01] japesinator commented on #255
1. As an example, you can modify the generators in `Echidna.ABI` to generate inputs based on anything you can calculate in `MonadRandom`, and the predicate system supports any logic in Solidity. With the API, you can also test complex multi-contract systems, or even smart contracts not created with Solidity.

2. `GenDict` is for dictionary-based generation of function parameters. We do constant ex

[2019-07-02 16:12] unboxedtype commented on #256
[code]
It is Fedora 28.

After a primary installation of Stack , I execute: `stack build --extra-lib-dirs=/usr/local/lib`

I have tried:
`LIBRARY_PATH=/usr/lib64 stack build --extra-lib-dirs=/usr/local/lib`
Errors are the same.

I also tried `ldconfig`, was suspecting outdated library cache.
No luck.

I had global-wide Haskell installation before installing Stack. There was a moment when I ran int

[2019-07-02 16:18] ggrieco-tob commented on #256
I don't think Stack like a mixture between global and local installation. Can you please re-try to compile echidna using a [vagrant container of Fedora 28](https://app.vagrantup.com/fedora/boxes/28-cloud-base), so we can discard any Fedora-related issue?.

[2019-07-02 16:19] unboxedtype commented on #255
1. So, using the API of Echidna I can program complex testing scenarios. What "grammar-based" bit is related to?
2. Constants found in a function/contract body may be used as an input argument during fuzzing with some probability, correct?

[2019-07-03 10:08] unboxedtype commented on #256
I would like to mention that ordinary 'stack new' / 'stack build' successfully compiles the 'helloworld' binary
on my machine even for the same resolver 'lts-12.10'.

Regarding your vagrant container suggestion, maybe I will look at it, but not sure, looks like time consuming activity.

[2019-07-11 17:21] agroce opened #260 "In addition to memory for input values, re-use return values of functions."
Echidna needs to "remember" and re-use input values, but also needs to re-use return values from functions as inputs.

Simple test contract:

[code]

[2019-07-11 18:14] agroce opened #261 "Make multiple senders default, improve sequence output to show senders"
Using only one sender can miss simple bugs, but current UI is not good for multi-sender sequences (echidna supports multiple senders already), since the sequence does not show who sent each transaction.

[2019-07-12 19:03] agroce opened #263 "Warn users when transactions during testing execute hash functions"
https://forum.zeppelin.solutions/t/using-automatic-analysis-tools-with-makerdao-contracts/1021

Finding the issue with echidna is fairly easy with a very simple addition of some code to help echidna "predict" a hash:  https://gist.github.com/ggrieco-tob/295ce622883b31ac7f45c930a2bc3f4a

However, this step is probably best done manually (and requires about the same effort as making the kind of inva

[2019-07-12 20:24] agroce commented on #263
Never mind, let's just basically do this automatically -- extract the right stuff.

[2019-07-12 20:24] #263 closed

[2019-07-12 23:16] ggrieco-tob commented on #260
Fixed in the latest revision.

[2019-07-12 23:16] #260 closed

[2019-07-12 23:19] ggrieco-tob commented on #47
Fixed in the latest revision!

[2019-07-12 23:19] #47 closed

[2019-07-13 00:01] ggrieco-tob opened #267 "Gas: 0xffffffff is printed after each transaction in the UI"

[2019-07-15 07:09] johnsoncarl commented on #243
This issue is solved.

There are various workarounds for it, But the one suggested by @ggrieco-tob is the shortest one.

Run the following script while in echidna repo
[code]

[2019-07-15 07:09] #243 closed

[2019-07-15 07:28] johnsoncarl opened #268 "Deploying two blockchains and run the parallel transactions on both to ensure deterministic behaviour of Blockchains"
How about giving a parameter to deploy two Blockchain (EVM) instances and running the contracts on them **concurrently/Parallel** . This will help in ensuring the deterministic behaviour of the smart contracts on the blockchain!

[2019-07-15 09:32] HarryR opened #269 "ecrecover related bugs are not detected"
## Description

It doesn't detect `ecrecover` failing upon invalid input

## How to Reproduce

See the following piece of code:

https://gist.github.com/HarryR/cce52596ffebdff2744c5d790888015a

This was caused by a compiler bug in Solidity < 0.4.14, where the output memory area for the `ecrecover` call wasn't cleared, which means in the case of an invalid signature the memory may contain user-cont

[2019-07-15 11:20] ggrieco-tob commented on #269
Hi @HarryR

In order to detect an issue in echidna, you need to first add a property to check (e.g. a function with no arguments that returns bool). Echidna won't detect any bug (except maybe self-destruction) if you don't add a property to check.

[2019-07-15 11:22] HarryR commented on #269
Hi

 Yes, I am aware.

 In the code I tested Echidna with I added a storage variable `hacked` which defaults to false.

 Then I added an `echidna_...` method which verifies the contract invariant `hacked==false` etc.

 The above issue is just a copy-paste that I used to submit to a bunch of different projects at the same time, I have tested each with variants of the above example which are specifi

[2019-07-15 11:33] HarryR commented on #269
for your reference, the code I used with echidna is:

[code]

[2019-07-15 11:39] ggrieco-tob commented on #269
So any `stuff2hash` values where last 20 bytes are equal to `address(this)` will work? The `v`, `r` and `s` values are irrelevant?

[2019-07-15 12:12] HarryR commented on #269
Yes

[2019-07-15 12:32] ggrieco-tob commented on #269
I have some ideas to deal with something like this but let me discuss them internally first. Thanks a lot for testing  Echidna and produce a small example!

[2019-07-17 00:37] #152 closed

[2019-07-17 00:39] ggrieco-tob commented on #267
Fixed in latest release.

[2019-07-17 00:39] #267 closed

[2019-07-17 00:40] ggrieco-tob commented on #261
Fixed in latest release.

[2019-07-17 00:40] #261 closed

[2019-07-17 00:40] ggrieco-tob commented on #256
is it still failing?

[2019-07-17 00:42] ggrieco-tob commented on #216
crytic-comple support is merged. Maybe we should integrate this in that tool adding a new field?

[2019-07-17 00:44] ggrieco-tob commented on #203
Fixed in the latest release.

[2019-07-17 00:44] #203 closed

[2019-07-17 00:44] ggrieco-tob commented on #163
Fixed.

[2019-07-17 00:44] #163 closed

[2019-07-17 00:49] ggrieco-tob commented on #17
This was implemented long time ago.

[2019-07-17 00:49] #17 closed

[2019-07-17 22:13] japesinator commented on #72
We fixed this!

[2019-07-17 22:13] #72 closed

[2019-07-17 22:13] japesinator commented on #96
Decided to export `withDefaultConfig` instead, and I think that's fine

[2019-07-17 22:13] #96 closed

[2019-07-17 22:14] japesinator commented on #99
This isn't relevant anymore, we refactored out all that stuff

[2019-07-17 22:14] #99 closed

[2019-07-17 22:15] japesinator commented on #15
Superseded by #143

[2019-07-17 22:15] #15 closed

[2019-07-18 16:30] ggrieco-tob commented on #268
After thinking in this, I'm not completely sure to understand this request. Running code in echidna is completely deterministic, so there is no way execute the same function with the same parameters and obtain two different results (given that the state of the blockchain is the same)

[2019-07-18 18:30] johnsoncarl commented on #268
I agree with you @ggrieco-tob .
But there are really interesting use cases to it. I'll try to get it done and get back to you soon.

Closing this issue for now. I'll reopen it as things work.

[2019-07-18 18:30] #268 closed

[2019-07-23 17:31] agroce opened #273 "Allow named senders"
User output could be more friendly if there were names for senders in the .yaml: e.g., "deployer" for the deployer/psender, "user 1", "user 2", "attacker" etc.

[2019-07-23 18:21] japesinator opened #274 "Allow passing crytic-compile options"
For instance, which solc to use

[2019-07-23 18:28] agroce opened #275 "Allow echidna to dump json output format into a file, rather than stdout"
For crytic, it'd be nice to be able to just ask to create a `results.json` in the same way slither allows.

[2019-07-27 14:52] montyly opened #277 "Add a --version flag to echidna-test"
Currently, there is no simple way to tell which version of echidna is used, without checking the installation setup. It can be annoying in particular for users running echidna from [eth-security-toolbox](https://github.com/crytic/eth-security-toolbox)

Addin a flag, `echidna-test -v`  / `echidna-test --version` would be helpful

[2019-07-27 15:06] montyly opened #278 "Echidna does not work with solc >= 0.5.5"
Tested with echidna from eth-security-toolbox:

[code]

If this contract is compiled with solc >=0.5.5, echidna fails:
[code]

[`0.5.5`](https://github.com/ethereum/solidity/releases/tag/v0.5.5) was the first version using `petersburg` as the default EVM set, most likely hevm does not support properly the new ocpodes?

[2019-07-27 18:48] ggrieco-tob commented on #278
0.5.7 works for me locally (Ubuntu 18.04). I will investigate why it fails in eth-security-toolbox.

[2019-08-19 16:15] montyly commented on #277
Thanks to @arcz, it was done with #285

[2019-08-19 16:15] #277 closed

[2019-08-20 13:43] montyly opened #286 "Feature request: finding worst-case execution gas with echidna"
We could use echidna to provide a summary of the worst-case execution gas of each function (not just the properties).

That would help to find out-of-gas issues, and to profile which functions need to be optimized.

[2019-08-20 16:06] yxliang01 commented on #286
@montyly Just a question (possibly out of scope), how can echidna a fuzzer find the worst-case execution gas? I believe this is going to be an estimation. Would you like to comment on how close such estimation you are thinking it's going to be? Thanks.

[2019-08-20 16:23] montyly commented on #286
Yes it's going to be an estimation and not a guarantee.

The precision will depend on the complexity of the contracts, and the capacity for echidna to explore the states, so it's hard to say. The goal here would not be to ensure a bound on the gas consumption but to find bad gas usage with a best approach effort, in a minimal amount of time.

We can start with a naive version which just fuzz rando

[2019-08-20 18:26] yxliang01 commented on #286
Just curious, how are you planning to deal with paths containing external contract calling while the external contract is not accessible(e.g. its address can dynamically be set)?

[2019-08-21 11:51] montyly commented on #286
Well, I guess it's not a problem related to the gas estimation, but a general concern for echidna exploration?

But in that case, you can just fuzz all the addresses parameters with all known addresses (including all the contracts created)

[2019-08-22 14:39] montyly opened #287 "Re-enable msg.value fuzzing"
Echidna is not fuzzing `msg.value` anymore. For example, this test always pass:

https://github.com/crytic/echidna/blob/f03ea973756f571a9fdf232fa4b7113fb3c6cb8d/examples/solidity/basic/balance.sol#L8-L10

https://github.com/crytic/slither/issues/319 will help to select which functions should have non-zero value tested.

[2019-08-24 13:53] ysz opened #288 "error: undefined reference to 'look_up_our_self'"
Build fails

[code]

[2019-08-24 14:53] ysz commented on #288
Build of hevm like this works though. Added `--ghc-options="-lprocps"`

[code]

But echidna build fails anyways even with `--ghc-options="-lprocps"`

[code]

[2019-08-24 18:55] incertia commented on #288
You should build libff with `-DWITH_PROCPS=OFF`, as seen in our build script [here](https://github.com/crytic/echidna/blob/master/.travis/install-libff.sh). You can see the relevant code in libff below as well.

[code]

[2019-08-25 12:00] #288 closed

[2019-08-26 21:18] japesinator opened #289 "Startup behavior on large/complex contracts is highly misleading"
Echidna initializes the UI with an empty campaign state, which is immediately superseded by the results of the first callseq. However, if startup takes a while, it displays that campaign state as if it was the current state. This makes it appear to have removed all the tests and then finished its campaign, it even says `Campaign complete, C-c or esc to print report`. Probably it should say somethi

[2019-08-30 16:27] #289 closed

[2019-08-30 18:07] ggrieco-tob opened #291 "Echidna fails to run code that creates two contracts"
Using this example:

[code]

echidna will never correctly execute `f()`:

[code]

Removing one of the contract initializations (either `A` or `B`), allows to execute correctly.

[2019-09-10 11:21] arcz commented on #291
This seems to be fixed with https://github.com/crytic/echidna/pull/293

[2019-09-10 11:29] ggrieco-tob commented on #291
Oh, right, @japesinator fixed!

[2019-09-10 11:29] #291 closed

[2019-09-10 14:03] arcz commented on #274
@japesinator Is this maybe solved here https://github.com/crytic/echidna/commit/c07d2e49ea469c7952ff1842634b825d7ef5b45a? Or the idea is rather about passing the options from CLI?

[2019-09-10 17:38] ggrieco-tob opened #294 "Echidna does not collect and re-use freshly created contract addresses"
Latest revision cannot solve this test:

[code]

[2019-09-11 21:42] ggrieco-tob opened #296 "Echidna crashes when trying to call an nonexistent contract in the constructor"
Echidna crashes when it tries to run this:

[code]

with this error:

[code]

It should catch the nonexistent contract error during the constructor as well.

[2019-09-13 07:49] montyly commented on #278
This seems to work on the latest version of echidna (eth-security-toolbox was updated)

[2019-09-13 07:49] #278 closed

[2019-09-17 15:48] arcz commented on #296
I've been looking a bit into this crash and it is coming from the `hevm` library:
https://github.com/dapphub/dapptools/blob/5c9acddd6bde407db20a5125de270d38a9ee86d5/src/hevm/src/EVM.hs#L1465. I'm wondering why hard crashing `error` is used here instead of the `vmError`.

The `solc` seems to compile the example without complaint, is this a valid contract? I've tried searching but couldn't find any

[2019-09-18 17:08] ggrieco-tob opened #302 "ABIEncoderV2 bug encoding structures as parameters?"
Echidna fails to execute `f` from `C` (the property will never fail):

[code]

If you remove either `o1` or `o2` from the parameter list, it will work. I suspect this is bug in the ABIEncoderV2 encoding.

[2019-09-19 14:41] ggrieco-tob commented on #302
#303 seems to solve it.

[2019-09-19 14:43] ggrieco-tob opened #304 "Echidna generates only transactions with tx.gasprice == 0"
Echidna will never find the inputs to make this property fail:

[code]

[2019-09-24 15:52] japesinator commented on #274
no, this looks closed to me. good catch!

[2019-09-24 15:52] #274 closed

[2019-09-25 05:22] incertia commented on #208
solved by #300

[2019-09-25 05:22] #208 closed

[2019-10-03 17:40] ggrieco-tob commented on #302
Fixed.

[2019-10-03 17:40] #302 closed

[2019-10-04 18:04] agroce opened #308 "Echidna shrinker (too) often fails to remove un-needed gas price"
Example contract:

[code]

Obviously, you don't need a non-zero delay or any sender changes here.  But running with completely default echidna settings, 17% of the time, echidna reports a non-zero Time or Block delay in the found sequence.

There are no bogus sender values that didn't shrink away, but those can be produced using this contract plus assertion checking, and likely arise from same shr

[2019-10-04 18:15] agroce commented on #308
This is moderately important, in that I think crytic users especially may be very confused if a sequence for a property violation includes a time delay or changed sender when this is actually totally irrelevant.  I could see this being a big frustration to understanding a bug (in contract or in a property) if you aren't savvy to echidna internals

[2019-10-05 18:13] ggrieco-tob commented on #287
#309 should work until we integrated better the information from slither in echidna.

[2019-10-09 11:49] ggrieco-tob opened #311 "Echidna fails to find a contract to analyze in certain cases"
Despite [this file](https://github.com/kupl/VeriSmart-benchmarks/blob/master/benchmarks/cve/2018-10706.sol), has a `Token` contract, Echidna cannot find it:

[code]

[2019-10-09 11:56] montyly commented on #311
What solc version are you using? The contract requires solc >=0.4.21  and < 0.5.0 (the 0.4.18 pragma is incorrect)

When using 0.4.21 I have:
[code]

[2019-10-09 11:58] ggrieco-tob commented on #311
I'm testing with solc `Version: 0.4.24+commit.e67f0147.Linux.g++`. Maybe `crytic-compile` is not correctly generating the .json file?

[2019-10-09 12:10] montyly commented on #311
So it seems that in some cases, Echidna does not select the correct contract to fuzz.

For example in
[code]

Running
[code]

Echidna takes `ERC20Token` as target, while `Token` was given. If `Token` is renamed (`AToken` for example) it works

[2019-10-12 06:25] wangdayong228 opened #313 "How to test a definite process but with random input in function?"
I have follow contract
[code]
I want use function 'echidna_transfer_sometimes_false' to test if 'transfer' function fail some times . Actually the function 'transfer' never be failed because it has an uint overflow bug.

I want write a test like follow, specify the needed process in test function, which is transfer(xx,xx) in this test.
[code]

Is Echidna could do test like this?

[2019-10-19 15:15] ggrieco-tob opened #314 "Echidna won't call public functions from other contracts"
Since Echidna will only call functions from a single contract, it cannot solve this simple example:

[code]

After merging #295, it could be nice to add the possibility of calling public functions from created contracts.

[2019-10-20 14:13] ggrieco-tob commented on #311
This should be fixed in #315

[2019-10-23 06:14] incertia opened #318 "Echidna 1.2"
There are some things that should be done before the Echidna 1.2 release.

* [x] Update the changelog
* [x] Select a commit to be the 1.2.0.0 tag
* [x] Set up a draft release
* [x] Final source review of the changes
* [x] Creating a source distribution tarball
* [x] Update the docker image
* [x] Notify the crytic team

[2019-10-23 16:09] ggrieco-tob commented on #304
This is already fixed in #307.

[2019-10-23 16:09] #304 closed

[2019-10-23 17:09] agroce commented on #308
Does #310 fix this?  Ready to close?

[2019-10-24 12:23] arcz commented on #308
@agroce yes, this should be fixed

[2019-10-24 16:06] agroce commented on #308
I did a pretty thorough check, it's fixed.

[2019-10-24 16:07] agroce commented on #226
This is in master/release now, and works fine

[2019-10-24 16:14] agroce commented on #226
Never mind, still not done

[2019-10-28 20:36] agroce commented on #205
Actually, with latest version, to see the need for this, given better constant mining, you need something like:

[code]

[2019-11-03 21:11] agroce commented on #226
In with PR #320

[2019-11-03 21:11] #226 closed

[2019-11-13 16:47] ggrieco-tob opened #322 "FairWin memory leak"
A contract based on the [FairWin](https://etherscan.io/address/0x5Ec8515d15C758472f3E1A7B9eCa3e996E8Ba902) contract causes echidna to consume a large amount of memory (at least 10GB in less than a minute and keeps growing).  To reproduce, just run `echidna-test` with this contract:

[code]

[2019-11-13 17:44] ggrieco-tob commented on #322
The minimized version of this:

[code]

[2019-11-13 19:17] ggrieco-tob commented on #322
It seems to be a hevm issue: https://github.com/dapphub/dapptools/issues/296

[2019-11-15 19:53] ggrieco-tob commented on #296
Any updates on this @arcz ?

[2019-11-16 20:51] agroce opened #325 "Clarify `coverage` option meaning"
At present, if you don't specify `coverage` in the config file, echidna collects and uses coverage to guide testing, but doesn't output the coverage.  `coverage: true` also outputs coverage.  `coverage: false` turns off coverage completely.

This is fairly unobvious to users, and there's no way to lock the three-valued logic 1/2 that is default (also, not sure it's that helpful to compute coverage

[2019-11-18 17:49] agroce opened #326 "Echidna should check crytic-compile versions"
Older crytic-compile releases can fail to compile a contract, but not alert echidna, which will carry on with testing the last compile.  This is particularly dangerous/misleading with solc version based problems, e.g., forgetting to set SOLC_VERSION when using solc-select.

Version 1.4 and better are known good, so let's just add a check for >= 1.4.

[2019-11-18 18:20] agroce opened #327 "More informative property failed messages"
Debugging would be easier if property failures included info on the kind of failure:

* "normal" failure (returned false)
* out-of-gas due to `maxPropGas` -- very nice to know you are seeing an "infinite loop"
* other revert

[2019-11-22 19:04] agroce commented on #225
Done in #323

[2019-11-22 19:04] #225 closed

[2019-11-22 19:09] agroce opened #328 "Support a swarm (or mixed swarm) mode"
Swarm testing (https://www.cs.utah.edu/~regehr/papers/swarm12.pdf) diversifies configurations in random testing.  For API sequence tests (which call seqs in echidna basically are), the items in a config are usually allowed calls.  This mode would modify generation so that for a contract with public functions A, B, C, and D, before each sequence is started, echidna would flip a coin for each of A,

[2019-11-22 23:54] agroce commented on #218
Did we actually finish this?

[2019-11-24 19:58] agroce commented on #308
Reopening this, with small shrink limits, or detection near timeout, gas prices often stick around, even though 99% of failures don't need gas price changes.  We should probably just deterministically try 0 gas price & delay etc. at the start of reduction, since it usually will work and is cheap

[2019-11-26 15:43] lastperson opened #329 "Support sending ETH into payable functions as part of fuzzing"
[code]

Echidna never tries to send ETH to payable functions, thus failing to falsify above invariant.

[2019-11-26 15:49] ggrieco-tob commented on #329
Duplicate of #287.

[2019-11-26 15:49] #329 closed

[2019-11-30 04:56] ReeceNee commented on #325
In the `examples/solidity/coverage/harvey.yaml`, even `coverage: true` set there is still no coverage information output. Where is the coverage info?

[2019-11-30 17:59] agroce commented on #325
Good catch.  That's just a bug in the `harvey.yaml` config, it should be `coverage` not `printCoverage`.

[2019-12-01 09:43] ReeceNee commented on #325
May I ask that where can I see the coverage info? I can't see any percentage of coverage even if I set `coverage:true` in the config file.

[2019-12-01 15:33] agroce commented on #325
Right now it's just:

[code]

Which isn't that informative!

[2019-12-04 12:21] ReeceNee commented on #325
Thanks. By the way, is there any way to use echidna to run solidity files without echidna_xx functions?  I just what to evaluate the coverage of echidna.

[2019-12-04 14:12] agroce commented on #325
Add `checkAsserts: true` to the config

It'll report assertion violations, other unexpected aborts, but just coverage if nothing fails

[2019-12-20 20:29] #318 closed

[2019-12-20 20:30] incertia opened #332 "Echidna 1.3"
There are some things that should be done before the Echidna 1.3 release.

* [x] Update the changelog
* [x] Select a commit to be the 1.3.0.0 tag
* [x] Set up a draft release
* [x] Final source review of the changes
* [x] Creating a source distribution tarball
* [x] Update the docker image
* [x] Notify the crytic team

[2019-12-23 18:13] uhbif19 commented on #325
What do "Unique instructions" and "codehashes" mean?

[2020-01-03 19:10] ggrieco-tob commented on #155
https://github.com/crytic/echidna/wiki/How-to-use-Echidna-with-multiple-contracts

[2020-01-03 19:17] #155 closed

[2020-01-03 20:03] ggrieco-tob commented on #145
Please let me know if this looks like what you expected: https://github.com/crytic/echidna/wiki/Assertion-checking-with-Echidna

[2020-01-06 12:23] montyly opened #334 "Improve missing crytic-compile error message"
If `crytic-compile` is not installed, echidna-test fails and prints:
[code]

It would be nice to have a more user-friendly message reported, like
[code]

[2020-01-06 13:24] ggrieco-tob commented on #334
I will fix this very soon.

[2020-01-09 10:56] montyly opened #337 "Echidna fails with solc 0.6.x"
For example with:
[code]
If echidna is called with 0.5.14, everything works:
[code]

But if 0.6.0 is used, echidna crashes:
[code]

It looks like the src mapping format slightly changed:
[code]

The [Solidity 0.6 changelog](https://github.com/ethereum/solidity/releases/tag/v0.6.0) mentions:
[code]

Most likely this "modifier depth" is not handled by hevm?

[2020-01-09 11:11] ggrieco-tob commented on #337
We should wait for hevm to merge [this](https://github.com/dapphub/dapptools/pull/316).

[2020-01-13 20:11] incertia opened #338 "Expand `Tx` to work nicely with multicontract"
Make the first parameter to the `Tx` constructor a sum type that supports explicit calldata.

[2020-01-15 12:32] montyly opened #341 "Feature request: filtering the functions to be called"
Right now Echidna will call all the functions from the contract's ABI. It would be nice to be able to restrict the exploration, either through a whitelist or a blacklist.

For the API, I think we could use the configuration file, with two new fields: `functionsToBeCalledWhitelist`,  `functionsToBeCalledBlacklist` (or with better names).

[2020-01-15 18:15] ggrieco-tob opened #342 "Emit a warning if a function almost always reverts when called"
Good coverage is essential to keep fuzzing effective. Unfortunately, in Echidna we have no way to know if the code of a contract is covered or not, without modifying the contract and add a property that fails if it reaches certain point. This could give a false sense of security to users, since they believe their code is secure, if all the tests are passing.

One possible way to tackle this is to

[2020-01-16 16:27] incertia opened #343 "Use github actions"
Our travis subscription is expiring

[2020-01-16 21:03] svipal commented on #143
just saw there was a WIP PR. Sorry for the notification. You guys should close the issue on gitcoin ;)

[2020-01-16 21:20] ggrieco-tob commented on #143
Uhm, the current WIP PR will *not* be merged (the PR is closed, in fact). Feel free to implement it, if you want.

[2020-01-24 17:07] #334 closed

[2020-01-31 19:25] #338 closed

[2020-02-01 05:06] incertia commented on #314
probably solved with #344, re-open this if there is more you want done.

[2020-02-01 05:06] #314 closed

[2020-02-01 05:41] incertia commented on #135
1. the `senders` field of the config file. the defaults can be found [here](https://github.com/crytic/echidna/blob/master/examples/solidity/basic/default.yaml)
2. you just need random ethereum addresses
3. you should be able to deploy the second contract within the constructor

[2020-02-01 05:41] #135 closed

[2020-02-02 20:23] incertia commented on #308
are we able to close this now?

[2020-02-02 20:47] agroce commented on #308
I haven't tested it out, is everything in master, so I can see if it fails to get rid of gas/delay/sender more than feels right?

[2020-02-02 20:48] agroce commented on #308
(or if @arcz tested for this on this contract or similar, we can just close, of course!  I don't know if this was a driving force in his work...)

[2020-02-03 12:27] arcz commented on #308
Yes, getting to 0 is faster now.

[2020-02-03 12:27] #308 closed

[2020-02-07 20:30] incertia opened #354 "lensify everything"
i'm really tired of half our types not being lensed while the other half are. do this after #340 maybe?

[2020-02-07 20:41] incertia commented on #342
with the advent of `multi-abi` how do you wanna do this? per contract per function or just per function in known abis?

[2020-02-07 20:43] incertia commented on #294
this should be fixed, confirm?

[2020-02-07 20:47] incertia commented on #337
aside: `stripBytecodeMetadata` was also merged into hevm so we should delete our local version when bumping the version.

[2020-02-17 23:29] incertia commented on #341
can we just make these a single JSON object which defaults to blacklist

[code]

[2020-02-17 23:29] #138 closed

[2020-02-19 14:48] AminoACID123 opened #358 "How can I see more detailed test results?"
I've just learnt to use Echidna and it seems that it does not present very detailed test info like code coverage. How to configure Echidna so that I can get more informative test results?

[2020-02-19 14:52] ggrieco-tob commented on #358
We have in our roadmap a feature to offer more informative test results (e.g. which lines are executed) but it is not implemented yet.

[2020-02-20 12:14] AminoACID123 opened #359 "Unable to build from source using stack"
I tried to build from source using `stack install` command, but it reported the following error:

[code]

[2020-02-20 12:26] ggrieco-tob commented on #359
You need to install libbz2-dev. Take a look to the [Dockerfile](https://github.com/crytic/echidna/blob/master/Dockerfile#L2) to check all the required libraries.

[2020-02-20 13:37] AminoACID123 commented on #359
After installing libbz2-dev, it reported another error:
[code]

[2020-02-20 13:54] ggrieco-tob commented on #359
Are you compiling libff with `-fPIC`? Take a look to [this script](https://github.com/crytic/echidna/blob/master/.travis/install-libff.sh).

[2020-02-20 14:09] AminoACID123 commented on #359
The problem's solved, thanks.

[2020-02-20 14:15] #359 closed

[2020-02-26 23:33] agroce opened #361 "echidna does not handle "push/pop" patterns well"
consider this contract:
[code]

Even at 1M tests, e.g. with this config:
[code]

Echidna will almost certainly fail to falsify the property right now, and will provide a very low estimate on `traverse`'s worst-case gas consumption.  E.g., with 1M tests we get:

`traverse used a maximum of 115832 gas`

but if we remove `pop` and `clear` we get a higher estimate, even with only 1K tests:

`traverse

[2020-02-28 17:21] agroce commented on #361
Note that if you up to 10K tests, the version without pop/clear gets a max of 1597285 gas for traverse; the difference here between an accurate and bad estimate can easily be orders of magnitude.

[2020-03-03 16:21] pavlovdog opened #362 "Does Echidna uses node RPC or internal EVM?"
Hi, guys!

I've carefully read the README but it's still not clear for me - can I specify some RPC details to perform fuzzing on the specific network? Or all the method calls are running on some internal Haskell-based EVM implementation?

I'm pretty sure that the second guess is correct, but I'm not a big expert in Haskell to make sure myself 😃

Thanks in advance!

[2020-03-04 22:24] agroce opened #363 "Notion of coverage should properly handle reverting transactions"
Our current coverage counts instructions covered _during non-reverting transactions_.  In a sense, that's right -- it's not as useful to cover something if it isn't a potentially-blockchain-affecting execution of the code.  But it has a problem in that we lose information.  E.g., in constructs like:

[code]

it is impossible to tell if we ever had a case where `foo` held and we ran the `revert()`

[2020-03-04 22:26] agroce commented on #363
One solution is to make coverage of an instruction not a simple binary, but a tuple with info on whether it reverted.  Ideally, we'd cover everything both with a revert and without.  Some code can only be covered one value of "did-revert" of course.

[2020-03-06 13:53] ggrieco-tob commented on #363
I reviewed the code from the [current PR](https://github.com/crytic/echidna/pull/353) and it seems that coverage during reverts is **not** discarded (but it was on different branch, some time ago). To implement this new improvement, I suggest to use two different coverage maps (for non-reverting and reverting code coverage). After #353 is merged, I can implement this in a new PR.

[2020-03-06 13:56] ggrieco-tob commented on #362
Hi @pavlovdog

We are using [HEVM](https://github.com/dapphub/dapptools/tree/master/src/hevm) to emulate the Ethereum Blockchain internally. However, we have some preliminary support for RPC calls, to initialize a contract before a fuzzing campaign. Please take a look to [this tutorial](https://github.com/crytic/echidna/wiki/Deployment-of-a-contract-using-Truffle,-Ganache-and-Etheno-to-test-with-E

[2020-03-06 13:59] ggrieco-tob commented on #332
We released Echidna 1.3.0.0!

[2020-03-06 13:59] #332 closed

[2020-03-06 14:03] ggrieco-tob commented on #325
@uhbif19 sorry for the delay (all the team was in holiday when you posted this).
* Unique instruction is the amount of EVM addresses with instructions reached by Echidna.
* Codehashes is the amount of different contracts deployed (each one will have a different hash for their code)

[2020-03-06 14:04] ggrieco-tob commented on #294
Fixed!

[2020-03-06 14:04] #294 closed

[2020-03-06 14:06] ggrieco-tob commented on #286
Fixed in #355 (this needs some documentation, but I will do that soon).

[2020-03-06 14:06] #286 closed

[2020-03-06 14:07] ggrieco-tob commented on #275
Perhaps this should be a command line option? (`--output`)

[2020-03-06 14:10] #256 closed

[2020-03-06 14:11] ggrieco-tob commented on #232
All these functionality are already implemented.

[2020-03-06 14:11] #232 closed

[2020-03-06 14:12] ggrieco-tob commented on #218
After merging #353 and #357, I will work on this.

[2020-03-06 14:16] ggrieco-tob commented on #191
The size of `eth-security-toolbox`  was reduced. It should be usable now.

[2020-03-06 14:16] #191 closed

[2020-03-06 14:25] ggrieco-tob commented on #161
This can be fixed with a proper slither integration. However, there is an interesting point here. Removing the view/pure function will lower the collected coverage, which is one measure to check how good a contract was tested. Perhaps we should execute these functions once?

[2020-03-06 14:26] ggrieco-tob commented on #143
We already merged #32 , which helps to mitigate this issue.

[2020-03-06 14:26] #143 closed

[2020-03-06 16:23] agroce commented on #161
True.  Also, is it guaranteed such fns do not ever cause bad opcode (assert etc.)?

[2020-03-06 16:45] incertia commented on #275
i think we can do this with adding `format: results.json` in addition to `format: text` and `format: json`

[2020-03-06 19:09] ggrieco-tob opened #365 "The number of arguments of the `ui` function keeps growing"
https://github.com/crytic/echidna/blob/master/src/Main.hs#L63

[2020-03-09 11:55] ggrieco-tob commented on #363
In fact, preliminary research indicates that Solidity is not very well optimized and Echidna is already collecting different  instructions for examples like this one:

[code]

This is caused by Solidity generating a specif branch for the revert, something that Echidna will already detect.

However, if you run the following contract:

[code]

with this config:

[code]

then echidna finds 3 differen

[2020-03-09 17:51] agroce commented on #363
Seems right, since you can cover everything independent of everything else

[2020-03-13 17:45] incertia opened #371 "Tune corpus mutation parameters"
Uniformly distributing the mutators does not seem to be the best idea. Perhaps we can try to tune them in some way.

[2020-03-15 13:53] ggrieco-tob commented on #341
Fixed. I'm writing some examples/documentation for this feature.

[2020-03-15 13:53] #341 closed

[2020-03-20 21:35] ggrieco-tob opened #380 "Coverage collected on large contracts decreased since version 1.2.0.0"
While micro-benchmarking using CI tests is working great (Echidna can deal with more complicated contracts every day), some preliminary data on coverage collected in a large contract indicates that it is decreasing the number lines reached since version 1.2.0.0:

[code]

The latest release need to adjust some constants, but the big drop on coverage since 1.2.0.0 is still unexplained.

[2020-03-20 21:37] incertia commented on #380
do you think this could be due to an adjustment of various `callseq` (now `randseq`) parameters?

[2020-03-20 21:42] agroce commented on #380
`fallback` added without seqlen default change?

also, how long are these runs, because that amount of change _could_ be noisy, if you don't have really long/saturating runs or enough to get a good mean...

[2020-03-24 18:47] MrChico commented on #337
hevm 0.37 now supports 0.6.x source files

[2020-03-24 18:58] ggrieco-tob commented on #337
Thanks a lot @MrChico!. We will prepare a PR to upgrade to hevm 0.37 soon.

[2020-03-25 06:34] nostdm opened #382 "Multi-threaded tests"
It seems that by default `echidna-test` uses a single thread at 100% load.

I checked the configuration options and it doesn't seem that there's an option to allow multi-threaded tests.

Is this a fundamental limitation of echidna or is this still being worked on?

Given that most fuzzers tend to be concurrent I would've assumed this was also true of echidna.

[2020-03-25 11:26] ggrieco-tob commented on #382
You are right, echidna uses a single thread. The use of EVM does not allow to easily multiple threads, however, there is a way to run any number of echidna process in parallel using a single corpus. I will write a tutorial on how to do it soon.

[2020-03-25 15:29] ggrieco-tob commented on #337
@montyly #383 should fix this. Please test it.

[2020-03-31 16:17] incertia opened #387 "add more haddock"
a lot of functions are hard to understand what the parameters mean at first glance. some haddock would be nice.

[2020-04-01 19:51] #343 closed

[2020-04-01 19:51] incertia commented on #343
#390

[2020-04-02 15:52] ggrieco-tob commented on #363
This is already fixed.

[2020-04-02 15:52] #363 closed

[2020-04-02 15:53] ggrieco-tob commented on #337
This is already fixed. Please re-open if some example fails.

[2020-04-02 15:53] #337 closed

[2020-04-02 16:03] ggrieco-tob commented on #296
This is no longer crashing, but the dashboard gets stuck. You can press `escape` and echidna will exit normally (which is good), however, there is no indication that you can do that. Instead, you get a "Starting up, please wait..." message.

[2020-04-02 16:24] ggrieco-tob commented on #218
We already have some mutations based on the corpus collected, and we are reviewing some more (#372). Please test the latest revision and suggest more improvements.

[2020-04-02 19:07] arcz commented on #296
I think it still crashes, it is now inside the worker thread

[2020-04-03 15:00] montyly opened #397 "Improve psender"
Would it be possible:
-  To take a list of addresses in `psender`, similar to `sender`, and to call each property with each address
- If `sender` is defined, but `psender` is not, then `psender = sender`

[2020-04-03 20:15] nostdm opened #401 "How to test contract with large dependencies"
I'm trying use echidna to test a contract that depends on ENS resolver, ENS registry, on-chain oracle and few other components. I can't easily mock these large contracts and since most of the setup happens in the constructor, the contract fails to deploy when using `echidna-test` (By the way `echidna-test` doesn't return an error when the deployment of the test contract fails and the exit code is

[2020-04-04 14:22] ggrieco-tob commented on #145
We already have this in [building-secure-contracts](https://github.com/crytic/building-secure-contracts/).

[2020-04-04 14:22] #145 closed

[2020-04-04 14:23] ggrieco-tob commented on #134
This is done.

[2020-04-04 14:23] #134 closed

[2020-04-06 10:34] nostdm commented on #401
Also it's worth pointing out that due to the gas limit, there is only so much logic one can put in a constructor - especially when deploying contracts. It would be nice if there was a way to deploy a set of contracts prior to running a test so that they can run in a specific context.

[2020-04-06 13:07] ggrieco-tob commented on #401
Hi @nostdm!

Regarding the use of large contracts, you are right about the gas limitation in the constructor. In that case, you can use our truffle/etheno support to deploy arbitrary contracts before testing:

https://github.com/crytic/echidna/wiki/Deployment-of-a-contract-using-Truffle,-Ganache-and-Etheno-to-test-with-Echidna

Also, this sounds like a bug:

We will fix it soon. Thanks for your su

[2020-04-06 19:41] ggrieco-tob opened #407 "Implement a benchmark mode to count coverage"
We need a special mode to let echidna collect coverage without adding new code (e.g. an `echidna_something` function). This mode should be enabled using a config keyword (e.g. `benchmarkMode: true`) but disable by default.

[2020-04-07 12:05] ggrieco-tob opened #408 "Optimize the input generation and mutation"
We tried to implemented Echidna with performance in mind, but it is not completely clear that the Haskell code is really optimal from the point of view of lazy-evaluation and memory used. For instance, these functions are constantly executed:

https://github.com/crytic/echidna/blob/9db3c342ab4482d1e58264b04028564a815212e3/lib/Echidna/Transaction.hs#L188-L225

but it is unclear if the approach is o

[2020-04-07 16:43] ggrieco-tob commented on #328
I think it should be easy to create a proof-of-concept in Python using blacklisting and corpus coverage (to sync all the results in a single directory). If it works as we expect, then we can add some Haskell code.

[2020-04-07 16:50] agroce commented on #328
Yeah, good idea

[2020-04-08 06:28] agroce commented on #328
It could be more general, like http://spinroot.com/swarm/

[2020-04-08 11:46] gustavo-grieco opened #411 "Maximum gas estimator need a shrinker"
The call sequences produced by the maximum gas estimator need a shrinker. They are very hard to read, unless very short and easy to find (the boring cases). ABI offers some general shrinking code, so I think just adapting the test shrinker in Test.hs to this case will work fairly easily

[2020-04-08 12:52] ggrieco-tob commented on #411
There is already some code created by @agroce for this, but it should be improved and integrated into to the codebase:

https://github.com/crytic/echidna/blob/861de78cbb1fbadeb1915a8841e20c72a89ef4c6/lib/Echidna/Campaign.hs#L192-L206

[2020-04-08 13:44] #401 closed

[2020-04-08 13:49] ggrieco-tob opened #412 "Reenable OSX building in Github actions"
OSX compilation was disabled when we migrated to github actions because we had an error in the linking:

https://github.com/crytic/echidna/runs/552743533#step:10:6467

To fix this, you can follow how we [compiled echidna in osx using travis](https://github.com/crytic/echidna/blob/v1.4.0.1/.travis.yml). Please note that we don't need to run the tests, just make sure echidna compiles correctly.

[2020-04-08 13:52] ggrieco-tob opened #413 "Split CI Github action in build and test"
Ideally, we want to split our [Github CI action](https://github.com/crytic/echidna/blob/master/.github/workflows/ci.yml#L12) in build and test to improve its modularity and to know which should be fixed, in case they fail.

[2020-04-08 21:57] ggrieco-tob commented on #412
Fixed by @elopez (414)

[2020-04-08 21:57] #412 closed

[2020-04-08 21:58] ggrieco-tob commented on #413
Fixed by @elopez (#414)

[2020-04-08 21:58] #413 closed

[2020-04-08 22:03] arcz opened #415 "Add contract names to UI and JSON"
Echidna can now call multiple contracts. Show from which contract a function is coming.

[2020-04-08 23:36] arcz opened #416 "Show seed in the UI"
Seed is currently printed to stdout after exiting from the UI.

[2020-04-11 17:37] ggrieco-tob commented on #407
Fixed with #409 and #420

[2020-04-11 17:37] #407 closed

[2020-04-12 13:43] ggrieco-tob opened #421 "Memory leak in the array/string handling"
This small contract produces a quick memory leak:

[code]

I'm taking a look to this..

[2020-04-13 14:53] erivas commented on #322
Following @ggrieco-tob 's reduction:
[code]

After profiling a bit, it seems that the `liftSH` function is taking a lot of space:
```liftSH = S.state . runState . zoom hasLens```

Changing `S.state` by the default implementation from the `State` class as follows:
[code]
seems that the bug is solved:
[code]

EXTRA:

A small change in the `bug.sol`:
[code]
(a flag is added, which is continuously upd

[2020-04-14 14:16] ggrieco-tob opened #424 "Investigate high-memory consumption with coverage enabled"
[FairWin](https://etherscan.io/address/0x5Ec8515d15C758472f3E1A7B9eCa3e996E8Ba902) contract causes echidna to consume a large amount of memory when coverage is enabled. The amount of memory required seems to be around 10 times more than without coverage.

[2020-04-14 18:20] #421 closed

[2020-04-15 11:42] ggrieco-tob opened #425 "Add time/tests to failure for each property to UI and JSON"
It will be nice to show how much time or tests we spend to make each property to fail. So, if we screenshot the UI or export the JSON, we can show which properties take more time.

[2020-04-15 16:51] ggrieco-tob opened #427 "Refactoring Config related types and code"
Also, give proper names to default constants.

[2020-04-15 16:52] ggrieco-tob opened #428 "Refactor and simplify Transaction generation"

[2020-04-15 16:53] ggrieco-tob opened #429 "Clean-up examples folder"
I will take care of this.

[2020-04-15 18:06] ggrieco-tob commented on #322
Fixed in #423

[2020-04-15 18:06] #322 closed

[2020-04-15 19:14] incertia opened #432 "refactor tests"
`Spec.hs` is growing out of control as well as the finely tuned `testContract'` function.

[2020-04-15 20:24] ggrieco-tob opened #433 "Try Echidna in every challenge from The Ethernaut CTF"
Review [every challenge from The Ethernaut CTF](https://solidity-05.ethernaut.openzeppelin.com/), to see which ones can be solve automatically using Echidna.

A plan to proceed:

1. Report back the results here for discussion.
2. Create a markdown with the properties and config files required for each challenge.
3. In case of failing to solve some of the, identify potential issues and how they cou

[2020-04-15 20:45] ggrieco-tob opened #434 "Refactor Main to add comments to each step of the corpus save/load and contract processing"
This is partially made here:

https://github.com/crytic/echidna/pull/396/files#diff-f8f3412da88cd4806f23d59fe59ebc3bR61-R94

[2020-04-16 12:14] ggrieco-tob commented on #296
Yeap, I can confirm this, but now it is showing the benchmark mode message (which is expected, since it cannot load any tests)

[2020-04-16 12:18] arcz commented on #296
I will work on handling worker exceptions, it's a bit confusing now

[2020-04-16 16:54] ggrieco-tob opened #435 "The results are not persistent on screen after the dashboard is closed"
By default, echidna runs with UI using a dashboard. However, when echidna finishes, the information from the dashboard disappears without a trace. Then, the user is forced to run echidna again to get it (perhaps using `format: text`).

[2020-04-16 18:33] ggrieco-tob opened #436 "Clean up the releases list"
- [x] Remove wrong tags (e.g `v1.5.0.0`)
- [x] Remove releases older than `1.0.0.0`.

[2020-04-18 18:21] erivas commented on #424
I've started looking at this issue. So far, hacking a bit on `usingCoverage` seems to fix the leak: https://github.com/erivas/echidna/commit/1a4bf8b553aa337c640a2b0c9388515775cbd0e7

[2020-04-18 18:30] ggrieco-tob commented on #424
Great! Please let us know if this fix deserves a refactoring on the execution and coverage support.

[2020-04-19 10:28] AminoACID123 opened #439 "Can Echidna fuzz block state variables like block number and timestamp?"

[2020-04-19 11:52] ggrieco-tob commented on #439
Yes. It will do it automatically. Just make sure you are a using the newest release (`1.5.0`)

[2020-04-19 12:18] #439 closed

[2020-04-20 00:31] elopez opened #440 "Constant extraction broken with long integers"
If a long integer is present in the Solidity code, current Echidna will only consider a few digits off the start of the number for its constant extraction. I believe this is due to the way the integer is reported in `solc --ast-compact-json`.

[code]

From my understanding of `lib/Echidna/Solidity.hs`, the number is being parsed from the `typeString`. There are nearby fields with the correct, full

[2020-04-20 18:15] #435 closed

[2020-04-21 22:04] ggrieco-tob commented on #440
We are waiting for Slither to release the new version that will provide a fix for this and then we will fix this issue.

[2020-04-21 22:05] ggrieco-tob commented on #434
This is done in the #396 branch.

[2020-04-21 22:06] ggrieco-tob commented on #432
I refactored this function in #396, please review it when you have some time.

[2020-04-21 22:08] #362 closed

[2020-04-21 22:10] ggrieco-tob commented on #358
We are planing to add a [Slither](https://github.com/crytic/slither) printer to know exactly which lines Echidna reached. Is that what you expect for this feature?

[2020-04-21 22:12] ggrieco-tob commented on #287
This is implemented in the upcoming PR #396, please test it.

[2020-04-21 22:35] elopez opened #442 "inspecting the balance of fresh addresses fails"
It appears that echidna has trouble checking the balance of a fresh address. With format: "text" and the following code, I receive "echidna_freshbalance: failed with no transactions made ⁉️".

[code]

If I give some balance to the address beforehand (eg., with sender: ["0xcafe"] in the config, even if balanceAddr == 0), fuzzing works as expected.

[2020-04-22 12:16] AminoACID123 commented on #358
Yes, that'll be nice.

[2020-04-22 12:41] ggrieco-tob commented on #442
hevm seems to be unexpectedly reverting for some reason.

[2020-04-22 16:34] incertia commented on #442
is hevm reverting or is it causing an exception? if accessing a balance goes into `vm ^. env . contracts . at addr` it should be `Nothing` so there will be no balance available.

[2020-04-22 16:37] ggrieco-tob commented on #442
I'm not sure, but I think it reverts with `NoSuchContract`.

[2020-04-22 16:42] incertia commented on #442
yeah that would follow from trying to access it

i could PR hevm so that there could be some sort of "default contract" which is some toggleable option

[2020-04-22 16:46] ggrieco-tob commented on #442
I can't reproduce this bug in `dapp/hevm` so perhaps they have some code already somewhere..

[2020-04-22 17:50] incertia commented on #442
have you tried directly calling it from within the VM? maybe the `hevm` binary does some special magic

use `readSolc` and `vmForEthrunCreation` and then set up a call and `exec` it

[2020-04-22 18:25] ggrieco-tob commented on #442
It seems that hevm have a thing call "oracle". We need to use the `zero` one:

https://github.com/dapphub/dapptools/blob/e08d412de73f2d38c91ba6c758e3248eacb5a4f2/src/hevm/src/EVM/Fetch.hs#L140-L146

They interpret each evm instruction in this loop, calling the oracle (and re-running the instruction) everytime they need:

https://github.com/dapphub/dapptools/blob/e08d412de73f2d38c91ba6c758e3248eacb

[2020-04-22 19:42] ggrieco-tob commented on #442
I got a solution for this. Code will be available soon.

[2020-04-23 16:05] ggrieco-tob opened #444 "Upload our prebuilt docker to dockerhub"

[2020-04-23 21:15] elopez opened #446 "Unclear error with balanceContract + non-payable contract"
When configuring echidna with `balanceContract`, but fuzzing a non-payable contract, echidna prints a Haskell exception instead of a meaningful error.

[code]

Running with `+RTS -xc` yields the following:

[code]

[2020-04-23 21:52] ggrieco-tob commented on #446
Please test if #447 fixed it.

[2020-04-23 22:13] elopez commented on #446
With #447 it now prints a better message :+1:

```echidna-test: Deploying the contract failed (revert, out-of-gas, etc.)```

[2020-04-23 23:29] ggrieco-tob commented on #446
I (slightly) improved the message error. We won't be able to be more precise about the use ether in a non-payable contract until we merge the Slither integration (so we can detect that the constructor is not payable).

[2020-04-23 23:30] ggrieco-tob commented on #415
We should do this one after merging the slither PR. I included a refactoring of the contract types (e.g `ContractName`)

[2020-04-23 23:32] ggrieco-tob commented on #296
#447 seems to fix this. Please test it.

[2020-04-23 23:33] ggrieco-tob commented on #216
This feature can be improved after merging the Slither integration (#396).

[2020-04-23 23:46] ggrieco-tob commented on #161
#396 should fix this (`view`/`pure` functions are considered low priority, unless they contain an explicit `assert`).

[2020-04-24 11:49] ggrieco-tob commented on #296
Fixed.

[2020-04-24 11:49] #296 closed

[2020-04-28 12:33] ggrieco-tob opened #449 "Add a strict mode to Echidna"
Following the discussion [here](https://github.com/crytic/echidna/pull/443#issuecomment-618143485),  I think Echidna needs a special mode that we could call `strict`, where every time there is missing contract or a new address, it will cause the tool stop to ask the user to fix the testing contract.

[2020-04-30 16:13] elopez opened #453 "extcodesize returns wrong value on contracts being constructed"
extcodesize on a contract being constructed should return 0, but on echidna it returns non-0. Here's a testcase:

[code]

[2020-04-30 16:31] incertia commented on #453
i believe this is more of an hevm regression than an echidna issue

in particular, we have to run constructors as a `RuntimeCode "bytecode here"` rather than an `InitCode "bytecode here"` and hevm likely implements `extcodesize` for `RuntimeCode` as a non-constructor.

[2020-04-30 16:40] incertia commented on #453
jk

i *think* we can get around this by manually setting `state . code`. in particular,

[code]

[2020-04-30 16:49] incertia commented on #453
check out the PR, i am almost certain it is the right thing to do

[extcodesize](https://github.com/dapphub/dapptools/blob/master/src/hevm/src/EVM.hs#L720)

[2020-04-30 18:22] elopez commented on #433
I've been trying to complete this CTF with Echidna for the last week or two, here's a recap of my findings so far:

\# | Name           | Solved | Echidna  | Filed issues
---|----------------|--------|:--------:|-------------
01 | Fallback       | Yes    | :muscle: |
02 | Fallout        | Yes    | :muscle: |
03 | Coin Flip      | Yes    | :muscle: |
04 | Telephone      | Yes    | :mag:    |
05 | T

[2020-05-01 23:37] incertia commented on #432
that's not quite what i had in mind, i can work on this fairly easily

[2020-05-08 09:08] montyly opened #459 "Print the result if ctrl+c is pressed"
If I kill  Echidna (with ctrl +c), I lost the current results.

I would be better to print the results in the cli output, at least for the properties that have failed during the campaign

Tested with Echidna 1.5.0

[2020-05-08 09:36] montyly commented on #62
This is old, but I think it would be nice to consider it again

[2020-05-08 11:06] ggrieco-tob commented on #459
Duplicated of #435. It is already fixed in master.

[2020-05-08 11:06] #459 closed

[2020-05-08 11:14] arcz commented on #459
@montyly do you mean after fuzzing finishes or during?

[2020-05-08 12:24] ggrieco-tob commented on #62
This feature could be merged soon, @incertia is working on it for this in the `dev-new-failures` branch.

[2020-05-13 18:51] agroce opened #460 "Interval fuzzing no longer works well"
Given this contract:

[code]

echidna 1.4.0.0 release reliably finds a failing test, while latest master (probably after this:  https://github.com/crytic/echidna/pull/455/files) does not.

[2020-05-17 00:56] JackHFeng opened #461 "Does echidna provide code coverage?"
Hello,
I was wondering, does anyone know whether echidna provides any types of code coverage after a contract is fuzzed?

[2020-05-17 12:57] ggrieco-tob commented on #461
We have in our roadmap a feature to offer more informative test results (e.g. which lines are executed) but it is not implemented yet.

Duplicate of #358.

[2020-05-17 12:57] #461 closed

[2020-05-17 13:10] JackHFeng commented on #358
@ggrieco-tob Hello Gus, thank you for your reply in my other post, I was wondering if instruction coverage on opcode is available? I read a few other posts, is the reason for instruction coverage not being available due to the instrumentation Echidna does? Since Echidna adds new codes to the source, it can be difficult to precisely know which opcode belongs to the original contract or not right?

[2020-05-17 15:31] ggrieco-tob commented on #358
If you use `format: json` and `coverage: true` you will get, at the end of the campaign a list of `pc` covered by echidna (either in complete or reverted transactions) by each list of transactions in the collected corpus.

This is not exactly true. Echidna will compile to test contract normally. If you add `echidna_` functions to test, these are going to be new instructions. But if you use `checkA

[2020-05-20 22:21] uhbif19 commented on #325
@ggrieco-tob Is it possible to count `Unique instruction` available, to count percent value of coverage?

[2020-05-22 13:27] ggrieco-tob commented on #325
We only provide a raw count of unique instructions (pc), however, the percentage can be computed  using the number of total number of pcs from `slither --print evm contract.sol`.

[2020-05-28 14:21] ggrieco-tob opened #462 "Dockerhub images are built and uploaded, but can't be downloaded"
Despite we have images in dockerhub, users cannot download them:

[code]

There are some [images here](https://hub.docker.com/r/trailofbits/echidna), but they correspond to the old repository and they are a year old.

[2020-05-30 14:18] ggrieco-tob opened #463 "Echidna fails to compile from scratch because hevm fetching fails"
This bug is blocking the echidna compilation:

https://github.com/dapphub/dapptools/issues/375

if hevm was not precompiled (so this will affect only new users)

[2020-06-02 21:58] #416 closed

[2020-06-04 14:14] elopez opened #464 "gasuse.sol test is flaky"
When running `stack test` several times, `gasuse.sol` fails randomly.

[code]

[2020-06-04 15:14] incertia commented on #464
we can always relax the gas estimate a bit, but there is currently no way to specifically target for gas usage and we simply report the max gas that was seen during the campaign.

[2020-06-04 15:47] incertia commented on #432
- [x] split test groups into different functions (#457)
- [x] refactor `loadSolidity` error tests (#457)
- [ ] refactor `testContract`

[2020-06-22 17:55] ggrieco-tob opened #467 "Echidna cannot detect assertion failures in vyper"
As [stated here](https://github.com/vyperlang/vyper/issues/478), Vyper does not support the use of `assert` as Solidity (there is an `assert` keyword, but it is the same as `require` in Solidity). I wonder if there is need a way to workaround this, if we want to do assertion checking in vyper.

[2020-06-24 17:07] ggrieco-tob commented on #460
I think I know this fails.

[2020-06-24 18:18] ggrieco-tob commented on #460
It should be fixed in #469. Please test it.

[2020-06-24 18:42] ggrieco-tob commented on #453
Fixed in #454 and #465

[2020-06-24 18:42] #453 closed

[2020-06-26 19:15] #436 closed

[2020-07-11 22:57] ggrieco-tob opened #471 "Improve support for initialization and testing in vyper"
Testing in vyper contract has two big issues:

1. It is unclear how to initialize complex setups.
2. There is no inheritance, so we need to copy and paste the code for testing.

These are open problems, so we would like to do some research on recent vyper features to know if there is any workaround.

[2020-07-11 23:05] ggrieco-tob opened #472 "Take advantage of the research examples to find regressions and propose improvements"
* Create a CI test for the [research examples contracts](https://github.com/crytic/echidna/tree/master/examples/solidity/research) (ideally, this should run these tests in parallel).
* Identify any regressions from previous versions (I think we have a few).
* Find new example contract from other papers and add them.
* Propose improvements in the input generation.

[2020-07-11 23:07] ggrieco-tob commented on #472
For instance: https://arxiv.org/abs/2004.08563

[2020-07-11 23:08] ggrieco-tob opened #473 "Clean-up the examples directory"
Remove everything that is outdated or unused.

[2020-07-11 23:09] ggrieco-tob commented on #460
This should be fixed.

[2020-07-11 23:09] #460 closed

[2020-07-11 23:10] ggrieco-tob commented on #444
Done.

[2020-07-11 23:10] #444 closed

[2020-07-11 23:12] #434 closed

[2020-07-11 23:12] ggrieco-tob commented on #429
Ups, this was a duplicated. Closing this one.

[2020-07-11 23:12] #429 closed

[2020-07-11 23:13] ggrieco-tob commented on #463
Fixed upstream.

[2020-07-11 23:13] #463 closed

[2020-07-12 13:40] ggrieco-tob commented on #361
#372 should eventually solve this (since we have a suitable mutation that repeats one transaction  from the corpus up to 32 times). Can you re-test with that?

[2020-07-12 13:49] ggrieco-tob commented on #161
This is already done.

[2020-07-12 13:49] #161 closed

[2020-07-12 17:58] erivas commented on #467
A possible workaround might be to use `UNREACHABLE` after `assert`. For example, `assert.sol` could get ported as:
[code]
In this case, it gets tested as follows:
[code]

I can try to add this example in the tests if this makes sense.

[2020-07-12 19:05] ggrieco-tob commented on #467
Neat. If you can, please add a CI test for that in the `exaples/vyper` directory.

[2020-07-13 13:19] erivas commented on #473
RE #467 , if Vyper examples are added, maybe the `solidity` level in the folders could be removed? E.g.
`examples/basic/assert.sol` and `examples/basic/assert.vy` at the same level.

[2020-08-12 14:50] ggrieco-tob opened #474 "Shift + PageUp/PageDown unexpectedly closes Echidna"
If the curses dashboard is used, pressing Shift + PageUp/PageDown unexpectedly closes Echidna (same as ESC).

[2020-08-12 20:59] erivas commented on #474
The `defaultConfig` for vty doesn't have an input map sequence for "\ESC[5;2~" (Shift + PageUp) and "\ESC[5;2~" (Shift + PageDown), so the first thing parsed is "\ESC", and it leads echidna to halt. I'll submit a patch adding those combinations.

[2020-08-12 21:52] MatthewARinehart opened #475 "Tuto complex codebase init/etheno (building secure contract)"
Tuto complex codebase init/etheno (building secure contract)

[2020-08-12 21:55] MatthewARinehart opened #476 "multicore fuzzing configurable with jobs count"
multicore fuzzing configurable with jobs count

[2020-08-12 21:56] MatthewARinehart opened #477 "Continuous fuzzing mode"
Continuous fuzzing mode

[2020-08-12 21:59] MatthewARinehart opened #478 "Review hypothesis and look for what we are missing"
Review hypothesis and look for what we are missing

[2020-08-12 22:01] MatthewARinehart opened #479 "Special office hours"
Special office hours

[2020-08-12 22:02] MatthewARinehart opened #480 "Better Docs"
Better docs. This will need to be broken down into more discrete tasks.

[2020-08-12 22:04] MatthewARinehart opened #481 "Update configuration file documentation"
Update configuration file documentation. Specifics TBD.

[2020-08-12 22:07] MatthewARinehart opened #482 "Improve multicontract and multi-abi UX"
Improve the multicontract and multi-abi experience to be more useful and less painful to set up

[2020-08-12 22:10] MatthewARinehart opened #483 "debugger support"
Debugger support. Needs further details.

[2020-08-12 22:11] MatthewARinehart opened #484 "Integration with VScode for debugging"
Integration with VScode for debugging.

[2020-08-12 22:12] MatthewARinehart opened #485 "improved shrinking without a strict limit"
improved shrinking without a strict limit

[2020-08-12 22:14] MatthewARinehart opened #486 "Engage with more users"
Engage with more users. Success metrics TBD.

[2020-08-12 22:15] MatthewARinehart opened #487 "simplify Haskell code to lower entry barrier"
simplify Haskell code to lower entry barrier

[2020-08-12 22:16] MatthewARinehart opened #488 "automated code formatting"
automated code formatting

[2020-08-12 22:17] MatthewARinehart opened #489 "Clean out any code that has been merged upstream into HEVM"
Clean out any code that has been merged upstream into HEVM, e.g. stripBytecodeMetadata and maybe others.

[2020-08-12 22:18] MatthewARinehart opened #490 "Better github actions"
Better github actions. Specifics TBD.

[2020-08-12 22:18] MatthewARinehart opened #491 "document JSON output"
Document JSON output

[2020-08-12 22:19] MatthewARinehart opened #492 "Better vyper support"
Better vyper support

[2020-08-12 22:20] MatthewARinehart opened #493 "Develop "RPC mode""
Develop a sort of "RPC mode" where contract code can also be fetched from an "on-chain" source on an as-needed basis, which is sort of what multicontract was designed to do, but on a preload basis

[2020-08-12 22:21] MatthewARinehart opened #494 "Tezos support"
Tezos support

[2020-08-12 22:22] MatthewARinehart opened #495 "Publish another paper"
Publish another paper.

Lots of details to be worked out here, topic not the least of which.

[2020-08-12 22:23] MatthewARinehart opened #496 "Simplify input generation code"
Simplify input generation code

[2020-08-12 22:24] MatthewARinehart opened #497 "Investigate runtime efficiency improvements"
Investigate runtime efficiency improvements with respect to internal state updates and unnecessary recomputation

[2020-08-12 22:24] MatthewARinehart opened #498 "Continue refactoring the internal types"
Continue refactoring the internal types to make the code more modular and present a more uniform API with lens etc

[2020-08-12 22:25] MatthewARinehart opened #499 "Improve the internal unit test API"
Improve the internal unit test API

[2020-08-12 22:25] MatthewARinehart opened #500 "publish hevm to hackage"
publish hevm to hackage

[2020-08-12 22:26] ggrieco-tob opened #501 "Echidna fails to work properly inside the eth-security-toolbox container"
Some users reports that Echidna fails to run properly inside the [eth-security-toolbox container](https://github.com/crytic/eth-security-toolbox). It seems to fail to deploy the contract or run the properties, resulting in unexpected reverts in the first test.

[2020-08-13 13:26] ggrieco-tob commented on #475
For this issue, we need:

- [ ] Review and improve [this Echidna tutorial](https://github.com/crytic/echidna/wiki/Deployment-of-a-contract-using-Truffle,-Ganache-and-Etheno-to-test-with-Echidna).
- [ ] Move it to [building-secure-contracts repository](https://github.com/crytic/building-secure-contracts), including a suitable CI test for that.

[2020-08-14 16:42] elopez commented on #490
Hi! What exactly would you like to see improved on the GitHub Actions front? I think I could help out with this 🙂

[2020-08-14 22:37] ggrieco-tob opened #504 "Fix CI test for macos"
There seems to be an issue with the CI test for macos. Related to this https://github.com/mstksg/setup-stack/issues/7?

_Originally posted by @erivas in https://github.com/crytic/echidna/pull/503#issuecomment-674101745_

[2020-08-17 01:26] ggrieco-tob opened #505 "Echidna crashes with contracts with immutable variables"
If you try to run Echidna with this:

[code]

it fails with `echidna-test: NonEmpty.fromList: empty list`.

[2020-08-17 23:42] #504 closed

[2020-08-19 11:22] MrChico commented on #500
`hevm` 0.41.0 is now on hackage https://hackage.haskell.org/package/hevm-0.41.0

[2020-08-19 11:33] arcz commented on #500
@MrChico awesome, thank you!

[2020-08-19 11:33] #500 closed

[2020-08-19 11:36] arcz opened #508 "Update hevm to 0.41.0"
hevm is back on hackage, check this issue for context https://github.com/crytic/echidna/issues/500.

[2020-08-19 16:30] incertia commented on #508
we will need to wait until this becomes available on a stack LTS release, which is unavailable in the 14.27 index and yesterday's nightly

[2020-08-19 16:34] incertia opened #509 "move off of brick 0.46"
we use some legacy APIs of brick that were modified in newer versions, which requires us to keep an `extra-deps: brick-0.46` in `stack.yaml`.

[2020-08-24 19:46] ggrieco-tob commented on #474
Fixed. Thanks @erivas !

[2020-08-24 19:46] #474 closed

[2020-09-10 15:52] incertia commented on #491
#512

[2020-09-17 19:22] ggrieco-tob opened #514 "If the contract is not properly linked, Echidna will crash"
This [issue](https://github.com/crytic/crytic-compile/issues/109) crashes echidna.

[2020-10-16 12:04] montyly opened #519 "Print a warning if Slither is not installed"
Some of the features (ex: fuzz payable functions) require Slither. It would be nice to print a warning if slither is not installed, and show what features are disabled

[2020-10-20 11:13] enderphan94 opened #520 "no basic auth credentials"
I've run

`docker pull docker.pkg.github.com/crytic/echidna/echidna:latest`

and it returned:

`Error response from daemon: Get https://docker.pkg.github.com/v2/crytic/echidna/echidna/manifests/latest: no basic auth credentials
`

Any ideas?

[2020-10-20 11:25] ggrieco-tob commented on #520
You can either [authenticate your github user in docker](https://github.community/t/docker-pull-from-public-github-package-registry-fail-with-no-basic-auth-credentials-error/16358) or use: `docker pull trailofbits/eth-security-toolbox` which contains the latest version of our tools.

[2020-10-20 21:04] moodysalem opened #521 "Does not test common edge cases for integer inputs"
From what I can tell, all inputs are randomly generated and none are hard coded. Here our fuzz test never fails, even though I expect it to when it passes `type(uint256).max` to `storeSqrt`.

https://github.com/Uniswap/uniswap-lib/pull/16/files#diff-98de4e9ca9e8aa86dc81424627940ec3a0f3d6278f3878e8f76f2d57026d3eceR27

If the input is a `uint256`, it should probably always test `uint256(-1)`, `uint2

[2020-10-20 21:22] ggrieco-tob commented on #521
It should be using (at least some of) these constants. Let me check something..

[2020-10-21 03:22] #520 closed

[2020-10-21 12:40] PaulRBerg opened #522 "dyld: Library not loaded: libff.dylib"
I ran these steps:

1. Download the v1.5.1 release from the [Releases][1] page
2. Unzip the tar.gz archive
3. Open the terminal and run `./echidna-test --version`

And got this error:

Using macOS@10.15.7.

[1]: https://github.com/crytic/echidna/releases/tag/v1.5.1

[2020-10-21 12:52] ggrieco-tob commented on #521
It seems that this feature was working some time ago, but a refactored removed it. I re-added it in #523 . Can you verify if it works better?

[2020-10-21 12:56] ggrieco-tob commented on #522
Hi!, thanks for testing our binary for OSX. You should have two additional libraries installed:

* libff (https://github.com/crytic/echidna/blob/master/.github/scripts/install-libff.sh)
* libsecp256k1 (https://github.com/crytic/echidna/blob/master/.github/scripts/install-libsecp256k1.sh)

Can you run these scripts to check if it solves this. Otherwise, you can use our docker container to run Echid

[2020-10-21 13:06] PaulRBerg commented on #522
Thanks @ggrieco-tob, I ended up using Docker, it was much easier.

[2020-10-21 13:42] PaulRBerg commented on #522
For what it's worth, I just ran both of those scripts:

[code]

And I reloaded my terminal, but I'm still getting the same error as in my original post.

[2020-10-21 13:50] ggrieco-tob commented on #522
Uhm, interesting. We will investigate this issue. Let's keep this issue open. Thanks for the report. :slightly_smiling_face:

[2020-10-21 13:53] PaulRBerg commented on #522
Happy to help. Sorry to bug you - but do you happen to know what's going on in this other issue?

https://github.com/crytic/crytic-compile/issues/115

[2020-10-21 14:04] ggrieco-tob commented on #522
Sure, let me check that.

[2020-10-21 14:31] moodysalem commented on #521
we dont build from source, could you just add a unit test for this? should be pretty easy to verify that the inputs include the max uints/ints

[2020-10-21 14:38] ggrieco-tob commented on #521
Sure. This works in fact (I will add it as unit test in the PR later this week):

[code]

We can provide you a pre-compile binary (or docker) of this branch, if you need.

[2020-10-21 15:30] moodysalem commented on #521
Any way you could push a patch release? If not, a URL to download the binary would work (since we download and call this in a github action) or I could also commit it to the repo, though I'd probably just wait for an official release

Also we are waiting on a release of slither to fix https://github.com/crytic/slither/issues/641

[2020-10-21 16:26] ggrieco-tob commented on #521
We could use the artifacts compiled in the Github CI. Let me check that.

Slither is quite easy to install, if you have python3/pip: `python3 setup.py install --user` should be enough (you can clean previous installations to make sure the new version is used).

[2020-10-21 17:56] PaulRBerg opened #524 "More intuitive message for this error"
I'm getting the following error:

<img width="922" alt="Capture d’écran 2020-10-21 à 20 55 00" src="https://user-images.githubusercontent.com/8782666/96758664-b6c60e80-13df-11eb-9fcb-4b3fae95e330.png">

I looked at the the [related GitHub issues][1] but I am now even more confused than before.

I made sure that the child contract I used to inherit from my main contract has a dummy constructor, a

[2020-10-21 17:58] ggrieco-tob opened #525 "MacOS CI is failing"
https://github.com/crytic/echidna/pull/523/checks?check_run_id=1288048270

[2020-10-21 18:04] ggrieco-tob commented on #524
This means that your transaction is returning false (or reverting) before starting to generate any transaction. Just as a sanity check, you can change your property to return always `true`. If that works, it means that:

[code]

is false after the initialization of the contract.

Unfortunately, we don't know that, if the contract is as complicated as `Fintroller`: you will need code review for tha

[2020-10-22 09:21] PaulRBerg commented on #524
I did that and the error disappeared.

This is correct. But it doesn't invalidate my rationale: the error could be clearer and ideally provide support for the user with regard to what they can do to make the error go away.

So if `liquidationIncentiveMantissa` can be zero immediately after the contract is initialized, does it mean that I have to rewrite my property like this?

[code]

[2020-10-22 10:19] paulrberg opened #528 "Inconsistency in the config defaults docs"
In the default configuration file mentioned in the README, the deployer account is said to be 0x00a329C0648769a73afAC7F9381e08fb43DBEA70:

https://github.com/crytic/echidna/blob/86b2b574fdfd2c0d9f909d6544d00f307638e054/examples/solidity/basic/default.yaml

But in the [crash course][1], the deployer account is said to be 0x00a329c0648769A73afAc7F9381E08FB43dBEA72, while 0x00a329C0648769a73afAC7F938

[2020-10-22 11:27] PaulRBerg opened #529 "How to call functions with specific arguments?"
## Description

I went through the [Echidna tutorial][1] but it didn't account for my use case.

Suppose that you have two functions:

[code]

I'd like to make Echidna call both functions with the same `addr` argument, so that later I can write a property that checks the value of an entry in a mapping:

[code]

Should I do this by seeding a [corpus][2]? Or will Echidna figure out that it has to ca

[2020-10-22 11:46] ggrieco-tob commented on #529
If you let echidna, it will probably call these two functions with the same address. However, the most efficient way to do it is to add one new function:

[code]

You can do this when you are absolutely sure foo and bar should be called with the same address, and it is useless to do something else.

[2020-10-22 11:58] PaulRBerg commented on #529
Hmm, I'm not sure about that. Here's a [corpus][1] that Echidna generated for me. It called `listBond` with 0x0000000000000000000000000000000000090000 and `setCollateralizationRatio` with 4b8321cc14d6543d476f8f4a80bf331140e95e94.

Yeah that's precisely what I want to do.

I can see why `msg.sender` works in many cases, but not for me. This is actually another question - if `addr` must be a contrac

[2020-10-22 12:17] ggrieco-tob commented on #524
Yes, I agree. We can improve the message, but it is unclear what to suggest to the user beyond "check your property, since it is returning false". This is not really an error. Echidna found a way to make your property false, but it did not need to generate any transactions! :smile:

That could work. Just go ahead and try it. We usually experiment with invariants until we found the right ones.

We

[2020-10-22 12:22] PaulRBerg commented on #529
After mulling over this issue, I think I shouldn't test my scenario with a property. As it says in [When and how use assertions][1]:

It looks like I should test this via assertions. However, if I am to follow [John Regehr's recommendations][2] (as you suggest), I shouldn't have an assertion at all, since `collateralizationRatio` can never be smaller than the lower bound and bigger than the upper

[2020-10-22 12:25] ggrieco-tob commented on #529
It will eventually. You can check this example:

[code]

Echidna will break the property in seconds:

[code]

Yes.

[2020-10-22 12:27] ggrieco-tob commented on #529
If you are completely sure that the implementation always enforces this property, then there is no point of using testing at all. Otherwise, perhaps you should try.

[2020-10-22 12:29] PaulRBerg commented on #529
"Eventually" is a key word for noobs like me! Thanks so much for your help.

I see. Knowing what to test is a skill in and of itself.

I'll close this issue since the original concern has been addressed.

[2020-10-22 12:29] #529 closed

[2020-10-22 12:57] PaulRBerg commented on #524
I'd say something like:

[code]

Yeah, that worked.

[2020-10-22 13:29] PaulRBerg opened #530 "Feature request: extend from other config files"
I find it common for Echidna tests that belong to a specific contract to require a bespoke configuration file. Some contract may only be called by an admin, while others may need some functions whitelisted or blacklisted.

This is how I structure my Echidna invariants:

[code]

A lot of fields get repeated across the *.yml files. It'd be nice if I could have "child" Echidna configs that extend fro

[2020-10-23 05:55] moodysalem commented on #401
seems it would be better to just remove the block gas limit (or increase to a very large number) on the test evm echidna uses, for those of us who are not using truffle and do not write truffle migrations

[2020-10-23 11:36] ggrieco-tob commented on #401
We could do that, however there is a risk: if echidna is trapped in a tight loop, the memory can grow exponentially. This is a limitation of HEVM, and the mitigation is to set proper limits for the gas.

[2020-10-23 14:38] moodysalem commented on #401
That risk is acceptable for a user run test imo-can you make it configurable as is the property and test gas limit? I have just hit this limit with 1 contract too many and I am using waffle so the alternative of using truffle/etheno is not very good

[2020-10-23 16:19] moodysalem opened #531 "Feature request: allow testing of very large contracts"
Per https://github.com/crytic/echidna/issues/401

If you have a test case that depends on a whole bunch of other contracts, you will run into the block gas limit trying to test it with echidna

The recommendation is to use etheno + truffle to create an initialization file https://github.com/crytic/echidna/wiki/Deployment-of-a-contract-using-Truffle,-Ganache-and-Etheno-to-test-with-Echidna

However

[2020-10-23 17:21] ggrieco-tob commented on #531
Please test #532 that will use a very very large gas limit (over the gas block limit) for deployment.

[2020-10-23 19:03] moodysalem commented on #531
the artifact that is built from that pr works for me

[2020-10-26 07:35] montyly opened #533 "Print gas statistics"
When `estimateGas` is enabled, Echidna will print the max gas usage. We could add additional information, such as the `min` and `average` per function.

We could also investigate how Echidna could be integrated into gas reporting tools, such as https://github.com/cgewecke/eth-gas-reporter

[2020-10-26 17:51] moodysalem opened #534 "Feature request: some visibility into passing tests call sequences"
In writing echidna tests, it's hard to know whether your properties are passing because the code is good, or if you are not getting coverage of the bad test cases, e.g. need to increase test gas limit

It would be great to be able to pass a parameter, e.g. `--samples 100` and get 100 random examples of calls printed along with the test results for successful cases to have some visibility into the

[2020-10-26 17:55] ggrieco-tob commented on #534
We are already working in coverage support and it works!. Check PR #516. To enable printing of covered code, you should use `format: text` and `coverage: true` in your .yaml file. The only issue is that we are blocked by this issue https://github.com/crytic/crytic-compile/issues/112. The coverage won't print correctly if your source code uses more than one file (but you can flatten the contracts u

[2020-10-26 17:58] moodysalem commented on #534
This is great! Even with code coverage though, the inputs and the call order matters. Does this feature only print line level coverage? Or also show some information about the inputs?

[2020-10-26 18:05] ggrieco-tob commented on #534
So far this code only prints covered lines. You could, in teory, take a look to the `corpusDir` directory, but there is no easy way to check which input correspond to each line. We could easily print if the information per line, at least we want to signal the user if the line is covered in a revert or not but perhaps we could add more. Please let us know what you need.

[2020-10-30 20:02] ggrieco-tob commented on #531
Fixed.

[2020-10-30 20:02] #531 closed

[2020-11-02 16:49] ggrieco-tob commented on #132
This is, most likely, already fixed in some recent release.

[2020-11-02 16:49] #132 closed

[2020-11-04 21:22] ggrieco-tob commented on #521
Fixed in #523

[2020-11-04 21:22] #521 closed

[2020-11-04 21:23] ggrieco-tob commented on #519
Fixed in #535

[2020-11-04 21:23] #519 closed

[2020-11-04 21:24] ggrieco-tob commented on #508
Fixed in #511

[2020-11-04 21:24] #508 closed

[2020-11-04 21:27] ggrieco-tob commented on #489
@incertia you already took care some of this. Do you think we should close it?

[2020-11-05 15:28] #440 closed

[2020-11-05 19:18] fabiohild commented on #522
Ran into the same problem today. Installing libff with the bash script or from other sources does not seem to work. I'm on MacOS Mohave. Let me know if I can provide any useful info, will use the Docker container for now. Thanks!

[2020-11-05 22:58] ggrieco-tob opened #539 "Count coverage during contract deployment"
Echidna ignores the coverage during the contract deployment. While this is not useful during testing, it is still valuable to debug issues when deployment does not work as expected.

[2020-11-06 13:07] elopez commented on #522
@fabiohild @PaulRBerg could you try out the binaries from the draft PR above and see if they work any better? You should not need to build/install libff nor libsecp256k1, as they are bundled in the zip file.

https://github.com/crytic/echidna/actions/runs/323365632

[2020-11-06 14:56] fabiohild commented on #522
Hey @elopez ,

It didn't work out of the box, but installing libgmp (through homebrew) was enough to get it working, it might be worth including it along with the binary too.

Thanks a lot!

[2020-11-06 17:39] ggrieco-tob commented on #522
@elopez can you modify your PR to include libgmp or detail how to install that library in the README?

[2020-11-07 04:09] elopez commented on #522
I've updated the PR and added a copy of libgmp as well, here's a fresh run if you want to try them out again.

https://github.com/crytic/echidna/actions/runs/350638716

[2020-11-09 13:14] bingen opened #542 "Feature request: Allow to disable EIP-170"
It would be useful to be able to get rid of max contract size limit (EIP-170). As Echidna uses hevm, and there’s already an option there to change that limit (`--maxcodesize`), it seems it could be doable without too much effort.

[2020-11-12 09:37] bingen opened #547 "Understanding multi-abi"
I’m trying to understand and use `multi-abi` feature. Starting from the [example](https://github.com/crytic/echidna/blob/1af7989379f3d91922bb93924db996754a61b8f5/examples/solidity/basic/multi-abi.sol), I modify it to look like:

[code]

But then it passes, so it’s ignoring that trigger_bug function. Why?
If I add this function to contract B:

[code]

Then it catches the buggy assert. I don’t fully

[2020-11-12 11:53] ggrieco-tob commented on #547
Do you have `checkAsserts` enabled?

[2020-11-12 16:50] montyly commented on #547
Hi @bingen.

Echidna will call all the contracts, but will currently look for properties, or failed assertions (if [`checkAsserts` is enabled](https://github.com/crytic/building-secure-contracts/blob/master/program-analysis/echidna/assertion-checking.md)) only in the contract provided by the `--contract ContractName`  flag.

[2020-11-12 17:01] incertia commented on #547
To shed some light on why you are getting the behavior you see.

1. Echidna will, by default, not check for assertions in normal function calls.
2. Echidna will, by default, only expose the functions in tested contract for fuzzing.
3. Failed assertions in a test are considered test failures, because the result is an execution failure and not `true`.
4. The `checkAsserts` enables the reporting of a

[2020-11-13 10:07] bingen commented on #547
I didn’t have it, but I added it and it still passes:

[code]

Where `multi.yaml` is:
[code]

According to 4 and 5, with both enabled, shouldn’t it catch the assert in `trigger_bug`?

Thanks!

[2020-11-14 18:25] PaulRBerg commented on #194
Looking forward to this!

[2020-11-14 20:58] PaulRBerg commented on #311
No, this is isn't fixed. When I have a contract `Foo` that imports and extends a function-less contract `BaseInvariants`, echidna fails with the following error:

This is the code for `BaseInvariants`:

[code]

[2020-11-16 12:06] ggrieco-tob commented on #547
We have a PR #515 where we added a new feature to detect assertion failures in any contract using an event (`AssertionFailed`). Can you please test it to see if it covers this use case?

[2020-11-16 12:17] ggrieco-tob commented on #311
@PaulRBerg are you using `--contract Foo` when calling echidna?

[2020-11-16 17:53] incertia opened #551 "Has World y"
lets us use `MonadState` for `World` and avoid passing around this `w` parameter everywhere

[2020-11-16 18:44] PaulRBerg commented on #311
Yes. But if I remember correctly, the issue happened even if I passed the contract directly.

[2020-11-18 13:08] ggrieco-tob opened #553 "Docker CI is failing"
https://github.com/crytic/echidna/actions/runs/370220527

[2020-11-18 20:13] ggrieco-tob opened #555 "Migrating to GitHub Container Registry for Docker images"
https://docs.github.com/en/free-pro-team@latest/packages/getting-started-with-github-container-registry/migrating-to-github-container-registry-for-docker-images

[2020-11-18 20:13] ggrieco-tob commented on #553
Fixed by @erivas !

[2020-11-18 20:13] #553 closed

[2020-11-18 20:24] ggrieco-tob commented on #522
This should be fixed already. We don't have any release, but you can already try the MacOS nightly binaries.

[2020-11-18 20:24] #522 closed

[2020-11-18 20:24] ggrieco-tob commented on #525
MacOS is no longer failing (because it is disabled)

[2020-11-18 20:24] #525 closed

[2020-11-18 20:25] ggrieco-tob opened #556 "MacOS CI workaround should be removed"

[2020-11-18 20:27] ggrieco-tob commented on #483
#516 provides some capabilities to debug any issue.

[2020-11-18 20:28] ggrieco-tob commented on #462
Dockerhub usage will be removed in the near future.

[2020-11-18 20:30] ggrieco-tob commented on #433
@elopez can you re-run this with the latest `master` revision and update the table?

[2020-11-18 20:56] moodysalem opened #557 "hardhat support"
the latest crytic compile version supports hardhat

however installing crytic locally via pip3 does not enable echidna to work with hardhat

[2020-11-18 21:01] moodysalem commented on #557
The error is here:
[code]

[2020-11-19 09:43] bingen commented on #547
I tried, it doesn’t work. `stack test` gives:
[code]
And again:
[code]

[2020-11-19 18:27] ggrieco-tob opened #559 "Improve documentation in execTxWith"
let's maybe document the variables with haddock

_Originally posted by @incertia in https://github.com/crytic/echidna/pull/515#discussion_r526297935_

[2020-11-19 18:29] ggrieco-tob opened #560 "Review the return type of the gas value in execTxWith"
is there any reason why we can't just keep this to the gas type to avoid `fromIntegral` at the end?

_Originally posted by @incertia in https://github.com/crytic/echidna/pull/515#discussion_r526298373_

[2020-11-20 18:33] #542 closed

[2020-11-20 20:29] ggrieco-tob commented on #481
I'm taking care of this in the wiki.

[2020-11-22 09:32] erivas commented on #505
The issue arises when looking up the ABI from contract code in [`Transaction.hs`](https://github.com/crytic/echidna/blob/050e47df41218b26069ef45871f51455f736a3fa/lib/Echidna/Transaction.hs#L71), as no matching ABI is found.

The mapping from contract code to ABI is constructed in [`Solidity.hs`](https://github.com/crytic/echidna/blob/050e47df41218b26069ef45871f51455f736a3fa/lib/Echidna/Solidity.hs

[2020-11-22 13:53] ggrieco-tob commented on #505
Very interesting. Thanks a lot @erivas. It seems that we could propose a refactoring/simplification of the ABI mapping. In particular, we would like to have a more robust/tested multi-abi code. What do you think about it @incertia ?

[2020-11-22 14:09] ggrieco-tob commented on #547
I think this looks like a bug, but we probably need to refactor mult-abi, after some discussion.

[2020-11-22 14:25] ggrieco-tob commented on #26
Fixed in #515

[2020-11-22 14:25] #26 closed

[2020-11-22 16:23] ggrieco-tob opened #563 "Test Echidna with newer version of solc and report results"
We should check how echidna works with more recent versions of solc: 0.6.x, 0.7.x and ideally, 0.8.x (which is a preview). This can be easily done running the CI tests using the different versions of solc. We should identify a list of issues to fix (if any).

[2020-11-23 14:29] arcz commented on #509
@incertia I think this is no longer true

[2020-11-23 14:56] ggrieco-tob commented on #509
Right. No more brick in extra-deps.

[2020-11-23 14:56] #509 closed

[2020-11-27 14:33] ggrieco-tob opened #566 "Echidna should always show caller when there are multiple ones"

[2020-11-27 14:34] ggrieco-tob opened #567 "Echidna should always show the address of the contract when multi-abi is enabled"
Also, ideally, it could show the contract name (e.g. `ERC20.transfer(..)`)

[2020-11-27 22:22] ggrieco-tob opened #568 "Transaction read from Etheno JSON files do not increase the block number"
I believe Etheno assumes every transaction increase the block number, while Echidna won't never do it:

https://github.com/crytic/echidna/blob/673aece0382e4da1a5ad1ac880b8a3bc9f231b92/lib/Echidna/RPC.hs#L142

(perhaps @incertia knows something about this)

[2020-11-28 13:58] ggrieco-tob opened #569 "Multi-abi support does not filter whitelisted/blacklisted functions"
Echidna will fail to blacklist function `setB`:

[code]

[2020-12-04 18:27] ggrieco-tob opened #573 "Ether balance from accounts are not consistent"
When we supply ether balance to accounts, its balance is never decremented. This produces an unbounded amount of ether, which is not always what we want during a fuzzing campaign.

Also, Echidna will send ether, even if the external accounts do not have enough ether.

[2020-12-04 18:35] ggrieco-tob opened #574 "if the amount of functions to call is large, assertion checking will be ineffective"
If the amount of functions to call is large (e.g. mult-abi is enabled with a few contracts deployed), the functions with `asserts` are going to be rarely executed, making the fuzzing campaign very ineffective

[2020-12-04 19:22] ggrieco-tob opened #575 "saving and restoring EVM state is not necessary when checking for assertions"
https://github.com/crytic/echidna/blob/4af9a3dfe9ac3a0569fed93515688b798492ea51/lib/Echidna/Test.hs#L55-L85

[2020-12-04 20:42] ggrieco-tob opened #577 "assertion check should match the contract address, not only its signature"
To avoid confusions when using `multi-abi`, assertion checking should match the address of the signature and contract that contains the assertions:

https://github.com/crytic/echidna/blob/4af9a3dfe9ac3a0569fed93515688b798492ea51/lib/Echidna/Test.hs#L63-L85

[2020-12-04 22:07] ggrieco-tob opened #578 "*wait* (NoCall) fails to be shrinked when one of its values is zero"
https://github.com/crytic/echidna/blob/4af9a3dfe9ac3a0569fed93515688b798492ea51/lib/Echidna/Transaction.hs#L100-L106

[2020-12-06 12:40] ggrieco-tob opened #579 "Value generation can fail in multi-abi mode, since the function hash is not precise enough"
https://github.com/crytic/echidna/blob/4af9a3dfe9ac3a0569fed93515688b798492ea51/lib/Echidna/Transaction.hs#L88-L98

[2020-12-07 09:20] montyly opened #580 "Detect arbitrary delegatecall and create a contract that self destruct"
Echidna could detect an arbitrary `delegatecall` (ex: delegatecall to a user parameter), and deploy a contract that just self-destruct.

This will help to detect properties that fail if the attackers can exploit arbitrary self destruct of a component

[2020-12-16 19:57] agroce opened #582 "Shrinking and *wait* bug"
This contract:

[code]

when checked with `checkAsserts: true`

produces weird output like:

[code]

if each `*wait*` were a call to `push_1()` it would make total sense.  Looks like `*wait*` is a synonym for "repeat last step"!

[2020-12-18 00:05] agroce commented on #328
A usable prototype of the external script approach to this is now here:  https://github.com/agroce/echidna-hammer

Generally seems to work, given a suitable swarm-suitable, decent-throughput target (not saying it isn't useful on slow targets, but you get less per generation and pay more startup overhead, then, plus memory might be an issue).

[2020-12-18 00:08] agroce commented on #361
Another thing that helps here is if you have any coverage targets that branch on sizes of arrays of interest; those stick around in corpus giving echidna a shortcut to higher length lists, looks like.  @ggrieco-tob how does corpus get used?  Mutation only or do you extend corpus tests to go over seqLen?

[2020-12-18 19:58] ggrieco-tob opened #583 "Check for revert in the latest transaction and skip test"
If the latest executed transaction is reverted, there is no point in executing the test function. There will no change in the contract state. We should skip that test, and generate another transaction,

[2020-12-24 11:40] ggrieco-tob commented on #582
Please test #584 with a possible fix

[2020-12-24 13:29] ggrieco-tob opened #585 "MacOS CI is broken again?"
https://github.com/crytic/echidna/runs/1605309409?check_suite_focus=true

[2020-12-26 16:44] agroce commented on #582
works for me!

[2021-01-01 19:30] agroce opened #586 "Allow text/interactive UI to dump failing transaction sequences to file"
Unless I'm missing something, if you use the text or dashboard interfaces, you can't save a failing transaction as JSON.  This would be nice for various uses in toolchains -- text is easy to mine in scripts, but saving the tx sequence in the JSON format we have allows other uses for the transactions.  As I understand, failing txs can't be saved in coverage corpuses, either, so they really are just

[2021-01-03 21:05] snd commented on #311
running into this problem as well.

[code]

steps to reproduce:

put code from https://etherscan.io/address/0x2eDf094dB69d6Dcd487f1B3dB9febE2eeC0dd4c5#code into `ZeroSwapToken.sol`.

[code]

manually make `PropertiesZeroSwapTokenTransferable` and `TestZeroSwapTokenTransferable` abstract.
else one gets compilation errors.

now running

[code]
fails with
[code]

[2021-01-04 18:04] agroce commented on #583
Ran some benchmarks of master vs. dev-opt-asserts, and while I don't have any code that I think is likely reverting a lot, so really a good benchmark, just code that pushes/pops to an array I see about a 5% improvement in test throughput, which is good since I'd imagine this is close to a lower bound on speedup

[2021-01-07 10:12] montyly opened #587 "Document Echidna current limitations"
For example, Echidna does not work with immutable (https://github.com/crytic/echidna/issues/505), but we cannot expect the users to go through our list of issues to know that.

We should list the features that are not supported in the readme or wiki

[2021-01-07 10:15] montyly opened #588 "Write guidelines on how to debug Echidna"
If Echidna fails, it is currently really difficult to understand why. We should write a guideline on how to debug Echidna.

For example, adding this undocumented flag in the config file:
[code]

Helps to identify the issue. I am sure they are other techniques to do.

[2021-01-07 10:17] montyly commented on #481
I am adding the high priority label to this issue, as I think it's now required for our users

[2021-01-07 11:43] ggrieco-tob commented on #588
This is really an issue in the UI. It should be solved to show the error message instead of hanging.

[2021-01-07 11:43] ggrieco-tob commented on #587
This feature will be supported "soon" when the code for that fix is merged.

[2021-01-13 01:27] fang19911030 commented on #311
Echidna 1.6.0

I meet a similar error.

[2021-01-14 12:12] montyly commented on #587
I think there are a couple of other limitations; the one I can at least think of is for codebase with libraries that need to be manually deployed (https://github.com/crytic/echidna/issues/514).

Having a clear list of limitations that we can update over time will help the usability imho

[2021-01-15 00:16] ggrieco-tob commented on #311
You cannot execute a contract that has no bytecode. This is not echidna fault, but the result of making contracts abstracts. @snd, if you want to test with ZeroSwap, you must give values to the arguments of the ZeroSwap constructor:

[code]

Additionally, you could have `solc` errors when compiling, like this:

[code]

[2021-01-15 00:21] ggrieco-tob commented on #311
@paulrberg

This works:

[code]

but you need to use `--contract C`, otherwise, it will fail (there are no ABI to execute, beyond the fallback function).

In summary, we need a good test case to reproduce the issue, or will close this issue.

[2021-01-19 10:33] montyly opened #589 "Use `crytic_PROPERTY` if `echidna_PROPERTY` is not found"
It would be great to automatically switch to `crytic_PROPERTY` by default for the properties name if `echidna_PROPERTY` is not found

[2021-01-25 17:37] incertia opened #591 "investigate vm result setting"
https://github.com/crytic/echidna/pull/584/files#diff-c20de95e05c2d1faa33bc6ee6d7db3ac1421bac2b099f945ebb81c237d3b7e43L144-R144

[2021-01-25 17:45] ggrieco-tob commented on #582
Fixed.

[2021-01-25 17:45] #582 closed

[2021-01-25 17:57] ggrieco-tob opened #592 "Integrate echidna with experimental version of solc select"
https://github.com/crytic/solc-select#experimental-solc-select

[2021-01-25 18:30] #575 closed

[2021-01-25 18:31] ggrieco-tob commented on #583
Fixed. Thanks for the benchmarking.

[2021-01-25 18:31] #583 closed

[2021-01-25 18:34] ggrieco-tob commented on #569
Fixed.

[2021-01-25 18:34] #569 closed

[2021-01-26 16:55] ggrieco-tob commented on #577
This one is a good start @snd:

1. Reproduce the issue with a test case: use two contracts with the same funcion ABI, and enable multi-abi and assertion checking.
2. Fix the issue in a separate branch.
3. Create a PR for review.

[2021-01-26 20:13] ggrieco-tob opened #595 "Reject ancient solc versions"
We can safely disallow any use of solc below 0.4.25.

[2021-01-28 16:40] montyly opened #598 "Improve etheno error message"
`echidna-test: Error parsing Etheno initialization file: Error in $: ',' or ']': not enough input`

I think most likely this means that you did not kill Etheno.  We could improve the error message here

[2021-01-28 16:52] ggrieco-tob commented on #598
Uhm, I need to check that, since it looks like an error produced by the code inside the json parser.

[2021-01-28 18:24] ggrieco-tob opened #599 "Rethink how to run the basic_multicontract test"
The .json file cannot be re-used and we need a better approach.

[2021-01-28 21:55] #505 closed

[2021-01-28 23:28] ggrieco-tob commented on #585
Fixed by @elopez in #597

[2021-01-28 23:28] #585 closed

[2021-01-30 15:27] montyly opened #601 "Assertions are not detected in internal transactions"
For example:
[code]
[code]
Echidna will not detect the assertion failure in the internal transaction.

This limitation is particularly important as it can give confidence in the codebase, while the assertions fail

[2021-01-30 15:27] montyly commented on #587
https://github.com/crytic/echidna/issues/601 is another example of limitation that should be easily visible to the users

[2021-01-30 19:33] ggrieco-tob commented on #601
You should use events for that, for instance: https://github.com/crytic/echidna/blob/master/examples/solidity/basic/assert.sol#L3. But I agree, this you should be documented in an example.

[2021-01-30 19:34] ggrieco-tob commented on #601
PD: we already have an official example here: https://github.com/crytic/building-secure-contracts/blob/master/program-analysis/echidna/assertion-checking.md#write-an-assertion

[2021-02-01 14:30] montyly commented on #601
Should we recommend to always use events instead of assert? They seem to have the same effects, without the internal transactions limitation (which is a significant one imho)

[2021-02-03 14:20] #563 closed

[2021-02-04 17:59] snd opened #607 "Change Ubuntu release to be tar.gz which simply expands to echidna-test"
The 1.6.0 ubuntu release was a tar.gz file that simply expanded to `echidna-test`.
The 1.6.1 ubuntu release is a zip file that expands into `echidna-test.tar.gz` which in turn expands into `home/runner/.local/bin/echidna-test`.

Produce tar.gz again and avoid the long path.

[2021-02-07 22:57] snd commented on #595
I've been reading the code to see where and how best to add this check.
Before implementing it, I wanted to sketch out what I'm about to do, to verify I'm on the right path.
Let me know if the following sounds good.

Comparing the version and throwing an error for versions before 0.4.25 looks trivial.
It seems that the code generally uses `throwM` to error.
I'd add a new constructor `OldSolcVersio

[2021-02-08 00:42] ggrieco-tob commented on #595
Before implementing it, I wanted to sketch out what I'm about to do, to verify I'm on the right path.
Let me know if the following sounds good.

It seems that the code generally uses throwM to error.
I'd add a new constructor OldSolcVersion String to SolException and implement show for it.
Then I'd throwM $ OldSolcVersion version if the version is before 0.4.25.

This sounds good to me.

It seems

[2021-02-08 13:33] arcz opened #609 "Update hevm to 0.44.1"
There is a new release of `hevm` https://github.com/dapphub/dapptools/releases/tag/hevm%2F0.44.1. There are some API changes which require to adjust our code.

[2021-02-08 20:26] ggrieco-tob opened #610 "Type refactoring for prepareContract campaign and ui"
now that we have a bunch of things from `prepareContract` can we make a custom type for `prepareContract` and `campaign` and `ui` to ingest the custom type instead of adding a new parameter every time? feel free to make an issue and refactor in a separate PR.

_Originally posted by @incertia in https://github.com/crytic/echidna/pull/516#discussion_r569599214_

[2021-02-09 17:00] snd opened #613 "uppercase True/False in function names seem to get lowercased"
Running the code below with
[code]
produces the following output:
[code]

This is strange for the following reasons

- output contains `echidna_returnstrue_pass` instead of `echidna_returnsTrue_pass`
  - same for `echidna_returnsFalse_pass`
- `echidna_returnsTrue_pass` fails despite returning `true`
    - same for `echidna_returnsFalse_pass`
- `returnsTrue` doesn't cause an error despite containin

[2021-02-09 17:04] ggrieco-tob commented on #613
This looks like an issue in crytic-compile. Can you open an issue there?

[2021-02-09 17:11] snd commented on #613
Done

[2021-02-09 17:11] #613 closed

[2021-02-09 17:19] snd opened #614 "Helpful error message when using wrong function signature for echidna property"
[code]

will output:

[code]

`echidna_b` fails because it returns `false`.
`echidna_a` fails because it doesn't return a `bool`.

It would be nice to check the signature of `echidna_` properties and display a helpful error message for `echidna_a` that distinguishes its failure from `echidna_b`.
This will reduce confusion for beginners.

On a similar note `internal` and `private` `echidna_` proper

[2021-02-09 17:58] ggrieco-tob commented on #614
We have a #564 to show more information on why every tested failed.

This is another issue. Echidna should not allow functions that do not declare any return value as properties.

[2021-02-09 19:47] snd commented on #614
It's not my intent to criticize the error reporting of `echidna_b fails because it returns false` in this issue.

That's what I mean with this issue.

[2021-02-22 19:26] ggrieco-tob opened #616 "Refactor in Corpus.hs using a mutator function"
you can perhaps consider `mutator :: (ListLike f i, MonadRandom m) => TxsMutation -> f -> f -> m f` so you don't have to change which mutator to use in each location. plus it then becomes `mut (mutator m)` instead of `case`.

_Originally posted by @incertia in https://github.com/crytic/echidna/pull/372#discussion_r580419516_

[2021-02-22 19:30] ggrieco-tob opened #617 "Refact `Num a` on `MutationConsts`"
any chance we can put `Num a` on `MutationConsts`?

_Originally posted by @incertia in https://github.com/crytic/echidna/pull/372#discussion_r580421569_

[2021-02-25 11:28] #616 closed

[2021-02-25 11:28] #617 closed

[2021-02-27 20:44] ggrieco-tob commented on #607
I believe this was fixed by @elopez in the latest github action refactoring.

[2021-02-28 20:29] ggrieco-tob commented on #568
Fixed in the latest review.

[2021-02-28 20:29] #568 closed

[2021-02-28 20:30] ggrieco-tob commented on #557
crytic-compile already works with hardhat, so I'm closing this issue.

[2021-02-28 20:30] #557 closed

[2021-03-03 10:15] montyly opened #625 "Add the config options to the cli"
Configuring Echidna is fastidious as the [config doc](https://github.com/crytic/echidna/wiki/Config) is never up to date

I think it would improve usability to have most of the config options accessible through command-line flags

[2021-03-03 11:00] arcz commented on #625
I'm working on this slowly

[2021-03-03 16:26] cymerrad opened #626 "Parse error on input while compiling with stack"
I'm trying to compile version 1.7.0 on MacOS. I have the most recent version of stack:
`Version 2.5.1, Git revision d6ab861544918185236cf826cb2028abb266d6d5 x86_64 hpack-0.33.0`

Last blocking error I got which I don't understand at all was:

[code]

I haven't touched the code, HLS in VSCode also shows the same parsing error, but only for this file.
Commenting-out the `data Tx = { ... }` moves the

[2021-03-03 16:43] ggrieco-tob commented on #626
That's a very weird. Our MacOS CI tests are still working. Can you check how [these are different from your system](https://github.com/crytic/echidna/blob/master/.github/workflows/ci.yml)?

[2021-03-03 17:51] cymerrad commented on #626
Comparing my installed software to:
https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md

I have checked some programs' versions and am now on par with Github Action's software.
Frankly, I don't really know what to look for, but I've picked those:
[code]

[2021-03-03 17:59] ggrieco-tob commented on #626
Isn't ghc installed as part of stack? Can you check the output of `stack ghc -- --version` ?

[2021-03-03 18:01] cymerrad commented on #626
[code]

[2021-03-03 19:28] snd commented on #607
for release 1.7.0 the zip file still expands into a tar.gz but the tar.gz expands into the binary directly

[2021-03-03 19:36] ggrieco-tob commented on #607
The tar.gz inside a .zip cannot be avoided. GitHub always uses a zip for artifacts, and a tar.gz is required to preserve permissions in *nix, so that's as good as it gets.

[2021-03-03 19:36] #607 closed

[2021-03-04 10:47] ggrieco-tob commented on #626
Can you try removing ghc 9? Perhaps VSCode is forcing stack to use a system installed ghc. Otherwise, feel free to submit a PR to allow Echidna to compile in GHC 9. :smile:

[2021-03-04 14:29] cymerrad commented on #626
Reinstalling stack sufficed.

I was really hoping to understand something about the tooling or whatever, but no -- computers are just brittle and broken.
Thank you for your attention ❤️

[2021-03-04 14:29] #626 closed

[2021-03-25 16:21] ggrieco-tob commented on #556
This is no longer necessary.

[2021-03-25 16:21] #556 closed

[2021-03-31 09:59] montyly opened #630 "Echidna 1.7.0 is significantly slower than 1.6.1"
On a private codebase (with the same seed, `--format text`, and `testLimit: 1000`):
- `1.6.1`: 9 seconds
- `1.7.0`: 2 minutes 40 seconds

If I disable the coverage on 1.7.0, I have the same results.

Do we have data to back the choice of the coverage guided by default? My intuition tells me that the coverage will help on contracts with multiple functions and complex interactions, but not might be

[2021-03-31 11:33] krasi-georgiev opened #631 "Need to run `hardhat clean` every time when a test contract is changed."
It seems the echidna doesn't detect when a test contract has changed so need to clear the cache to enforce recompilation.

Here is an example repo with hardhat
https://github.com/krasi-georgiev/chorus/tree/echidna

[2021-03-31 11:40] ggrieco-tob commented on #631
This is an [known crytic-compile/slither issue](https://github.com/crytic/crytic-compile/issues/164). There is little we can do from echidna, but we will keep this issue open to track it down upstream.

[2021-03-31 11:44] ggrieco-tob commented on #630
Uhm, if you have the same configuration the speed is the same. However, you are right that 1.7.0 is slower by default but we need more information here. Perhaps echidna is reverting 99% of the time in 1.6.1 and getting some interesting coverage in 1.7.0. Perhaps some recent mutation that we introduced is slower than expected. You tried enabling coverage in 1.6.1?

In general if you test a dedicate

[2021-03-31 12:41] krasi-georgiev opened #632 "White filter for function returns error: `Applying Whitelist .... produces an empty list`"
[code]

[code]

[code]

[code]

[2021-03-31 12:44] krasi-georgiev commented on #632
here is the full branch if you can't reproduce with this minimal example
https://github.com/krasi-georgiev/chorus/tree/echidna

[2021-03-31 15:20] agroce commented on #630
Yeah, we did benchmarking near release where cover/nocover was only a modest speed change, right?

[2021-04-02 12:27] krasi-georgiev opened #633 "Running echinda in docker node:14-buster hangs indefinitely."
You can use this repo to reproduce.
https://github.com/tellor-io/chorus

Here is an example github action that was canceled after running for 6h
https://github.com/tellor-io/chorus/runs/2246207447?check_suite_focus=true

[code]

[2021-04-02 14:42] elopez commented on #633
Hi! I have tested this locally and it appears to work ok; it is just slow. Looking at the fuzzing progress, I estimated it would take a bit over 2 hours to complete on my Ryzen 3900X machine, so it does not seem far-fetched that a GH Pipeline would be over 3x that time.

To confirm my observations I forked the repo and added a `testLimit` property to the `echidna.yml` file with a value of 100, on

[2021-04-02 15:01] krasi-georgiev commented on #633
yes it seems that you are right it looks like just a matter of resource constraints.

[2021-04-02 15:01] #633 closed

[2021-04-02 15:03] ggrieco-tob commented on #633
Thanks @elopez !

[2021-04-04 18:24] montyly opened #634 "UI: improve output for function with a lot of parameters"
Running Echidna on

[code]

Leads to

![image](https://user-images.githubusercontent.com/13798342/113517947-538dfa00-9583-11eb-9233-265a07824b72.png)

The parameters are not all shown.

We should add a carriage return, or change the UI in a way that all the parameters are displayed.

[2021-04-05 00:38] ggrieco-tob commented on #634
This is indeed an issue (however, you should still see the complete information when you exit echidna in your console).

[2021-04-05 09:14] montyly commented on #634
Yes, you can see the information once it's complete. This is more an issue during a long run if you want to check the results without killing Echidna

[2021-04-05 15:56] #634 closed

[2021-04-07 12:16] ggrieco-tob opened #636 "Echidna fails to get certain constants"
Echidna fails to find the input to break this property:

[code]

This [is an slither issue](https://github.com/crytic/slither/issues/465#issuecomment-814819642), originally found by @hacker-dom

[2021-04-07 14:35] montyly commented on #636
The slither printer gives:
[code]

So once Echidna integrates `constants_used_in_binary`, and mixes the different combinations, it should work.

It's similar to something like
[code]

Where slither gives this info
[code]
But is not currently used by Echidna

[2021-04-07 22:32] whoamino opened #637 "Trouble installing echidna via docker"
Hello,
Any guidance getting this installed would be appreciated.
[code]

[code]

[code]

Unsure if it matters, but I'm on macOS BigSur version: 11.2.3.

[2021-04-07 22:40] incertia commented on #637
It looks like `scipr-lab` semi-recently cleaned out their github repository so the `v1.0.0` tag no longer points to anything. Feel free to modify the script to point to [this tag](https://github.com/scipr-lab/libff/releases/tag/v0.2.1) which I believe tracks the correct code revisions.

[2021-04-07 23:20] whoamino commented on #637
The linked PR addresses the above error, but I am still getting errors during docker builds:
[code]
Unsure if this is just a problem with my setup. My machine has 16 GB RAM.

[2021-04-07 23:23] incertia commented on #637
SBV is a bit finnicky to build and it may just be a docker RAM issue which you can test with the `--memory` or `-m` option to docker IIRC. It builds fine on [CI](https://github.com/crytic/echidna/pull/638/checks?check_run_id=2292014079).

[2021-04-07 23:58] whoamino commented on #637
Yep, I just needed to allocate more resources to docker. Thanks

[2021-04-14 15:49] paulrberg opened #642 "Unclear how to pick a specific Solidity compiler version when using the Docker package"
I followed the instructions in the README listed under [Docker container](https://github.com/crytic/echidna/tree/688c605748d66d85d1e772dcb1fa764175debf6c#docker-container) and executed the following comand:

[code]

But I encountered this error:

[code]

Now, I am not quite sure whence this v0.5.7 of Solidity is picked up from. Is it the default used by Echidna (which I can override)? Is it the on

[2021-04-14 15:50] ggrieco-tob commented on #642
Your contract is compiled inside Docker so solc is installed inside it.

[2021-04-14 15:51] paulrberg commented on #642
Thanks for the quick reply! So is there no way to override that? Am I bound to solc@0.5.17 with this [Docker package](https://github.com/crytic/echidna/packages/136575)?

[2021-04-14 15:54] ggrieco-tob commented on #642
Yes, you can go inside the docker container (running `bash` for instance), install anything you need (or use `solc-select` as I think it is already installed) and then run your fuzzing campaign from the shell.

[2021-04-14 15:57] paulrberg commented on #642
Oh, makes sense! Sorry, I am not a Docker expert.

[2021-04-14 15:57] #642 closed

[2021-04-14 15:58] ggrieco-tob commented on #642
That's fine. Please feel free to comment on this closed issue what worked better for you so we can update the README and clarify this.

[2021-04-16 09:16] paulrberg commented on #642
I figured it out eventually, but it was quite a detour. I tried to run the commands listed under the [Linux packages](https://docs.soliditylang.org/en/v0.8.3/installing-solidity.html#linux-packages) section in the Solidity docs, but I got this error:

I then found this [thread](https://askubuntu.com/questions/593433/error-sudo-add-apt-repository-command-not-found) on StackExchange, and realised I

[2021-04-16 09:18] paulrberg commented on #642
Also `solc-select` is not installed, by default.

[2021-04-21 13:10] ggrieco-tob opened #646 "Add a flag to disable slither integration"
We have a vyper workaround that skips slither but ideally we want allow the user to disable slither if it fails for some reason.

[2021-04-27 22:51] banescusebi opened #647 "echidna-test: Couldn't compile given file"
Hey, I'm on macOS Big Sur trying to run the latest binary release (not via docker) and I'm getting the following error:

[code]

I use `solc-select` and have selected the right solc version and also successfully compiled the same contract using the `solc contract.sol` command. Any ideas of why this error is showing up?

[2021-04-28 00:06] ggrieco-tob commented on #647
Interesting. Is it failing for any contracts? or can you provide the exact one?

[2021-04-28 09:27] banescusebi commented on #647
It's failing for any contract I've tried so far. I've even tried it on the examples provided in this repo under https://github.com/crytic/echidna/blob/master/examples/solidity/

[2021-04-28 11:45] ggrieco-tob commented on #647
Can you try compiling any contract directly using `crytic-compile`? If that fails, you should open an issue in the specific repository (https://github.com/crytic/crytic-compile)

[2021-04-28 19:55] banescusebi commented on #647
Compiling using `crytic-compile` gives me that exact error. I will open an issue on the repo you indicated. Thanks!

[2021-04-28 19:55] #647 closed

[2021-04-29 11:00] hacker-DOM opened #648 "Staticcalling a non-existent contract in constructor fails"
I have a library

[code]

and inside of a constructor, I am calling like `MockConsole.log("foo", 5)`. The `CONSOLE_ADDRESS` is an EOA in my context, so I would expect the staticcall to succeed. Instead, the deployment fails with:

[code]

Note: When I uncomment the line with the staticcall, the deployment succeeds.

This looks like an hevm issues, any ideas?

[2021-04-29 11:05] hacker-DOM commented on #601
Wondering why the above code fails.

[2021-04-29 11:07] hacker-DOM opened #649 "Problem with external libraries"
I have [a very simple example](https://github.com/hacker-DOM/hardhat-echidna-starting-up-please-wait-minimal-example) with one external library. Running `echidna-test . --contract EchidnaTest --config echidna.config.yml`, I would expect the fuzzing to begin. Instead, the UI starts but the program hands on "Startin up, please wait...".

[2021-04-29 11:29] ggrieco-tob commented on #649
Using `format: text` reveals the error, right?

[2021-04-29 11:39] ggrieco-tob commented on #601
My understanding is that every time HEVM makes a (nested) external call, it creates a new "frame". The assert detection works only on the first one, not in any of the following ones. If you want to detect something in the nested external calls, you will need to use events. However, there is one limitation, you will still need to call from a certain contract that you are testing (and it doesn't sup